mixin expandParagraph(content,contentSecond)
    //-Параграф с дополнительными описаниями в виде dropdown
    .expand-paragraph__wrap.js-expand
        .expand-paragraph.expand-paragraph--visible
            p #{content}
            button.expand-paragraph__btn.js-expand__btn Развернуть весь текст
        .expand-paragraph.expand-paragraph--hidden.js-expand__hidden
            .js-expand__content
              p #{contentSecond}
              button.expand-paragraph__btn.js-expand__btn Свернуть текст

