//- Mixin for menu aside

mixin goodsViewed(ttl, img, prc)
  .b-goods-viewed
    .b-goods-viewed__img-wrap
      a(href="#", rel="nofollow")
        img(src="img/products/#{img}" alt="photo product")
    .b-goods-viewed__item
      .b-goods-viewed__ttl
        a(href="#") #{ttl}
      ul.b-goods__price
        li #{prc} #[b &#8372;]

