.container
  .b-product
    h2.heading.heading--center Новые товары
    article.b-product__article
      .b-product__img
        img(src="./uploads-demo/productBlock/1.jpg")
      .b-product__ttl
        a.b-product__ttl-link(href="#") Kris Line Fashion Edith brassiere комплект
      .b-product__cat
        a.b-product__cat-link(href="#") Аксессуары
      .b-product__price
        .b-product__cash 4 560 Р
        .b-product__buy Добавить в корзину
      .b-product__rating
        .b-product__stars
          .recall__mark
            span.active
            span.active
            span.active
            span
            span
        .b-product__comments
          a.b-product__comments-link(href="#") 78 отзывов




