@font-face {
  font-family: 'dggjuykm-Normal';
  src: url('../fonts/dggj/dggj-normal/dggjuykm-Normal.eot') format('embedded-opentype');
  src: url('../fonts/dggj/dggj-normal/dggjuykm-Normal.woff') format('woff'),
       url('../fonts/dggj/dggj-normal/dggjuykm-Normal.woff') format('woff');
  src: url('../fonts/dggj/dggj-normal/dggjuykm-Normal.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


