.subscribe-wrap
  .subscribe__header
    h2.subscribe__ttl Подписывайтесь
    p.subscribe__sub-ttl на рассылку новинок, акций и скидок
  form#subscribe.subscribe(action='#', method='POST')
    .form-group.form-group--line
      .dropdown
        .dropdown__state Все категории
        .dropdown__list
          .dropdown__item
            input#cat-1(type="checkbox", name="test[]")
            label(for="cat-1") Пункт категории 1
          .dropdown__item
            input#cat-2(type="checkbox", name="test[]")
            label(for="cat-2") Пункт категории 2
          .dropdown__item
            input#cat-3(type="checkbox", name="test[]")
            label(for="cat-3") Пункт категории 3
    .form-group
      input.subscribe__input.form-control(type='email', name='email', placeholder='Ваш e-mail*:', required)
    button.btn(type='submit', name='subscribe') Подписаться