.subscribe-wrap
  form#subscribe.subscribe(action='#', method='POST')
    .subscribe__ttl Подписывайтесь
    p.subscribe__sub-ttl на рассылку новинок, акций и скидок
    input.subscribe__input
    input.subscribe__input(type='text', placeholder='Ваш имейл')
    button.btn(type='submit', name='subscribe') Подписаться