.subscribe-wrap
  .subscribe__header
    h2.subscribe__ttl Подписывайтесь
    p.subscribe__sub-ttl на рассылку новинок, акций и скидок
  form#subscribe.subscribe(action='#', method='POST')
    .form-group.form-group--line
      select.subscribe__cat
        option Все категории
        option Раздел 1
        option Раздел 2
        option Раздел 3
    .form-group.required
      input.subscribe__input.form-control(type='email', name='email', placeholder='Ваш e-mail:', required)
    button.btn(type='submit', name='subscribe') Подписаться

  script.
    $('.subscribe__cat').select2({
      minimumResultsForSearch: Infinity,
      containerCssClass: "subscribe-select2",
      dropdownCssClass: "subscribe-select2-dropdown"
    });
