.b-brands
  h2.b-brands__ttl.b-brands__ttl--center Бренды
  .b-brands__items
    .brand-item
      img(src="./uploads-demo/brands/1.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/2.png" alt="")
    .brand-item
      img(src="http://placehold.it/350x150" alt="")
    .brand-item
      img(src="./uploads-demo/brands/4.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/1.png" alt="")
    .brand-item
      img(src="http://placehold.it/80x70" alt="")
    .brand-item
      img(src="./uploads-demo/brands/3.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/4.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/1.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/1.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/2.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/3.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/4.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/1.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/2.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/3.png" alt="")
    .brand-item
      img(src="./uploads-demo/brands/4.png" alt="")