.heading
  margin: 40px 0 20px
  font-size: 24px
  overflow: hidden

.heading--center
  text-align: center

.heading
  &::before, &::after
    content: ''
    display: inline-block
    vertical-align: middle
    box-sizing: border-box
    width: 100%
    height: 1px
    background: #eaedec
    border: solid #FFF
    border-width: 0 15px

.heading::before
  margin-left: -100%

.heading::after
  margin-right: -100%