link(rel="stylesheet", href="css/global.css")
script(src="./js/jquery-3.1.1.min.js")
script(src="./js/jquery/plugins/validation/jquery.validate.min.js")
script(src="./js/jquery/plugins/select2.min.js")
script(src="./js/jquery/plugins/slick/slick.min.js")
script(src="./js/app/formValidate.js")
script(src="./js/jquery/plugins/rater/rater.min.js")
script(src="./js/aos.js")
script(src="./js/test.js")



