script(src="./js/jquery-3.1.1.min.js")
script(src="./js/jquery/plugins/validation/jquery.validate.min.js")
script(src="./js/jquery/plugins/form/jquery.form.js")
script(src="./js/jquery/plugins/select2/select2.full.js")
script(src="./js/jquery/plugins/slick/slick.min.js")
script(src="./js/jquery/plugins/rater/rater.min.js")
script(src="./js/plugins/aos/aos.js")
script(src="./js/jquery/plugins/textarea-autoresize/autosize.js")





