.b-share
  p Поделитесь статьей
  .don-share(data-style='icons', data-url="http://grid360.makebecool.pro/assets/", data-bubbles='right', data-limit='4')
    .don-share-facebook
    .don-share-vk
    .don-share-twitter
    .don-share-odnoklassniki

script.
  var script = document.createElement('script');
  script.type = "text/javascript";
  script.async = true;
  script.src = '//share.donreach.com/buttons.js';
  document.head.appendChild(script);
