.container
  .b-brands
    h2.heading.text-center Бренды
    .b-brands__items.b-brands__items--grayscale
      .brand-item
        a(href="")
          img(src="http://placehold.it/25x31" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/350x150" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/500x400" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")
      .brand-item
        img(src="http://placehold.it/120x80" alt="")

