#headerSearch.search-w
  button#headerSearchOpen.search-w__open-btn(type="button") &#128269;
  button#headerSearchClose.search-w__close-btn.hide(type="button") &#10006;
  form#headerSearchForm.search-w__form(method='get', action='')
    input(type='hidden', name='controller', value='search')
    span(role='status', aria-live='polite')
    input.search-w__form-input(type='text', name='s', value='', placeholder='Поиск', autocomplete='off')
    button.search-w__form-search(type='submit') &#128269;


  script.
    $('#headerSearchOpen').on('click', function (e) {
      e.preventDefault();
      $('#headerSearchForm').addClass('active');
      $('#headerSearchOpen').addClass('hide');
      $('#headerSearchClose').removeClass('hide');
    });

    $('#headerSearchClose').on('click', function (e) {
      e.preventDefault();
      $('#headerSearchForm').removeClass('active');
      $('#headerSearchOpen').removeClass('hide');
      $('#headerSearchClose').addClass('hide');
    });