nav.megamenu
  span.megamenu__title Каталог
  ul.megamenu__categories
    //Категория 1
    li.megamenu__category.mod--actual
      span Категория 1
      i.megamenu__has-sub
      .megamenu__dropdown-wrap
        .megamenu__dropdown
          .megamenu__sub-container
            ul.megamenu__sub-categories
              li.megamenu__sub-category
                span Подкатегория 1 Категории 1
              li.megamenu__sub-category
                a(href="#") Подкатегория 2 Категории 1
              li.megamenu__sub-category
                a(href="#") Подкатегория 3 Категории 1

            ul.megamenu__sub-categories
              li.megamenu__sub-category
                a(href="#") Подкатегория 4 Категории 1
              li.megamenu__sub-category
                a(href="#") Подкатегория 5 Категории 1
              li.megamenu__sub-category
                a(href="#") Подкатегория 6 Категории 1
            ul.megamenu__sub-categories
              li.megamenu__sub-category
                a(href="#") Подкатегория 7 Категории 1
              li.megamenu__sub-category
                a(href="#") Подкатегория 8 Категории 1
              li.megamenu__sub-category
                a(href="#") Подкатегория 9 Категории 1




    //Категория 2
    li.megamenu__category
      a(href="#") Категория 2
      i.megamenu__has-sub
      .megamenu__dropdown-wrap
        .megamenu__dropdown
          .megamenu__sub-container
            ul.megamenu__sub-categories
              li.megamenu__sub-category
                a(href="#") Подкатегория 1 Категории 2
              li.megamenu__sub-category
                a(href="#") Подкатегория 2 Категории 2
              li.megamenu__sub-category
                a(href="#") Подкатегория 3 Категории 2

    //Категория 3
    li.megamenu__category
      a(href="#") Категория 3
      i.megamenu__has-sub
      .megamenu__dropdown-wrap
        .megamenu__dropdown
          .megamenu__sub-container
            ul.megamenu__sub-categories
              li.megamenu__sub-category
                a(href="#") Подкатегория 1 Категории 3
              li.megamenu__sub-category
                a(href="#") Подкатегория 2 Категории 3
              li.megamenu__sub-category
                a(href="#") Подкатегория 3 Категории 3


    li.megamenu__category
      a(href="#") Категория 4
      i.megamenu__has-sub
      .megamenu__dropdown-wrap
        .megamenu__dropdown
          .megamenu__sub-container
            ul.megamenu__sub-categories
              li.megamenu__sub-category
                a(href="#") Подкатегория 1 Категории 4
              li.megamenu__sub-category
                a(href="#") Подкатегория 2 Категории 4
              li.megamenu__sub-category
                a(href="#") Подкатегория 3 Категории 4

    li.megamenu__category
      a(href="#") Категория 5
      i.megamenu__has-sub
      .megamenu__dropdown-wrap
        .megamenu__dropdown
          //Подкатегории
          .megamenu__sub-container
            ul.megamenu__sub-categories
              li.megamenu__sub-category
                a(href="#") Подкатегория 1 Категории 5
              li.megamenu__sub-category
                a(href="#") Подкатегория 2 Категории 5
              li.megamenu__sub-category
                a(href="#") Подкатегория 3 Категории 5


