.hr
.container
  .megamenu-wrap
    span.megamenu__title(data-state="closed") Menu
    #megamenu.megamenu.mod--closed
      ul.megamenu__categories
        li.megamenu__category.mod--actual.megamenu__has-sub
          a(href='#') Home
          //button.megamenu__has-sub
        li.megamenu__category.megamenu__has-sub
          a(href="#") Wedding
          .megamenu__dropdown-wrap
            .megamenu__dropdown
              .megamenu__sub-container
                ul.megamenu__sub-categories
                  li.megamenu__sub-category
                    a(href='#') Simple and Elegant
                    a.megamenu__img(href='#')
                      .bg-image(data-bgimage='uploads-demo/nav1.jpg')
                  li.megamenu__sub-category
                    a(href="#") Pebble paper
                  li.megamenu__sub-category
                    a(href="#") Pocket invitations
                  li.megamenu__sub-category
                    a(href="#") Elegant
        li.megamenu__category
          a(href="#") Baby
        li.megamenu__category
          a(href="#") Quinces/Mitzvah
        li.megamenu__category
          a(href="#") Social
        li.megamenu__category
          a(href="#") Other Products/Services
        li.megamenu__category
          a(href="#") Online Consultation
        li.megamenu__category
          a(href="#") Blog
        li.megamenu__category
          a(href="#") White Papers
        li.megamenu__category
          a(href="#") Contact Us
