.header_main
  .container
    .header__main-inner
      .header-logo
        a(href="#")
          img.header-logo__img(src="images/logo.png", alt="")
      .header__main-info
        ul.header__main-info-list
          li.tel
            span Call us Today
            a(href="tel:3054476622") 305.447.6622
          li
            a.btn(href="#") view collection


