.site-header
  header#siteHeader
    //-тут может быть заголовок, подзаголовок, навигация к этой странице, дата, картинка-превью
    h1 Economy super-awards
    nav
      ul
      li: a(href="#ceremony") Ceremony
      li: a(href="#graduates") Graduates
      li: a(href="#awards") Awards


    h2 Important News
    p Today we shall introduce to You the Greatfull Economy awards</p>



