.b-slider#sliderImgText
  .container
    h2.heading.text-center Слайдер фото + текс
    .slider-img-text
      .slider-img-text__slide
        .slide-fon.bg-image(data-bgimage='images/slideImage/fon1.jpg')
        .slider-img-text__text-block.slider-img-text__text-block--center
          .row
            .col-center
              h2.slider-img-text__ttl Lorem ipsum dolor
              p.slider-img-text__desc
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .slider-img-text__btn
                a.btn(href='#') Button

      .slider-img-text__slide
        .slide-fon.bg-image(data-bgimage='images/slideImage/fon2.jpg')

        .slider-img-text__text-block.slider-img-text__text-block--bottom
          .row
            .col-sm-6
              h2.slider-img-text__ttl Lorem ipsum dolor
            .col-sm-6
              p.slider-img-text__desc
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .slider-img-text__btn
                a.btn(href='#') Button

      .slider-img-text__slide
        .slide-fon.bg-image(data-bgimage='images/slideImage/fon1.jpg')
        .slider-img-text__text-block
          .row
            .col-sm-6
              h2.slider-img-text__ttl Lorem ipsum dolor
              p.slider-img-text__desc
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .slider-img-text__btn
                a.btn(href='#') Button

      .slider-img-text__slide
        .slide-fon.bg-image(data-bgimage='images/slideImage/fon2.jpg')

        .slider-img-text__text-block.slider-img-text__text-block--bottom
          .row
            .col-sm-6
              h2.slider-img-text__ttl Lorem ipsum dolor
              p.slider-img-text__desc
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .slider-img-text__btn
                a.btn(href='#') Button


      .slider-img-text__slide
        .slide-fon.bg-image(data-bgimage='images/slideImage/fon1.jpg')
        .slider-img-text__text-block.slider-img-text__text-block--right
          .row
            .col-sm-6
            .col-sm-6
              h2.slider-img-text__ttl Lorem ipsum dolor
              p.slider-img-text__desc
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .slider-img-text__btn
                a.btn(href='#') Button

      .slider-img-text__slide
        .slide-fon.bg-image(data-bgimage='images/slideImage/fon2.jpg')

        .slider-img-text__text-block.slider-img-text__text-block--bottom.slider-img-text__text-block--right
          .row
            .col-sm-6
            .col-sm-6
              h2.slider-img-text__ttl Lorem ipsum dolor
              p.slider-img-text__desc
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .slider-img-text__btn
                a.btn(href='#') Button



  script.
    $('.slider-img-text').slick({
      slidesToShow: 1,
      slidesToScroll: 1
    })
