/**
 * Colors #colors
 */

$body-bg:             #f5f5f5 !default
$body-color:          #000 !default
$active-color:        #2185D0
$active-color-hover:	#1678c2

$error-color:					#B03060

$black-color:         #000000
$white-color:         #fff
$grey-color:  				#616161

$color-light-grey:    rgba(34,36,38,.15)



/**
 * Form colors
 */
$error-form-color:  $error-color



