/**
 * Typography #typography
 */

$base-font:                    'Open Sans', sans-serif
$base-font-italic:             'Open Sans italic', sans-serif
$base-font-bold:               'Open Sans bold', sans-serif
$second-font:                  'Open Sans', sans-serif
$second-font-bold:             'Open Sans', sans-serif

$fa:                           'font-awesome'

$base-font-size:               14px
$base-color:                   #000
