/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-down-name: 'arrow-down';
$arrow-down-x: 34px;
$arrow-down-y: 22px;
$arrow-down-offset-x: -34px;
$arrow-down-offset-y: -22px;
$arrow-down-width: 8px;
$arrow-down-height: 6px;
$arrow-down-total-width: 75px;
$arrow-down-total-height: 53px;
$arrow-down-image: '../images/sprite.png';
$arrow-down: (34px, 22px, -34px, -22px, 8px, 6px, 75px, 53px, '../images/sprite.png', 'arrow-down', );
$basket-name: 'basket';
$basket-x: 0px;
$basket-y: 0px;
$basket-offset-x: 0px;
$basket-offset-y: 0px;
$basket-width: 30px;
$basket-height: 33px;
$basket-total-width: 75px;
$basket-total-height: 53px;
$basket-image: '../images/sprite.png';
$basket: (0px, 0px, 0px, 0px, 30px, 33px, 75px, 53px, '../images/sprite.png', 'basket', );
$quote-icon-name: 'quote-icon';
$quote-icon-x: 34px;
$quote-icon-y: 0px;
$quote-icon-offset-x: -34px;
$quote-icon-offset-y: 0px;
$quote-icon-width: 23px;
$quote-icon-height: 18px;
$quote-icon-total-width: 75px;
$quote-icon-total-height: 53px;
$quote-icon-image: '../images/sprite.png';
$quote-icon: (34px, 0px, -34px, 0px, 23px, 18px, 75px, 53px, '../images/sprite.png', 'quote-icon', );
$recall-question-name: 'recall-question';
$recall-question-x: 0px;
$recall-question-y: 37px;
$recall-question-offset-x: 0px;
$recall-question-offset-y: -37px;
$recall-question-width: 17px;
$recall-question-height: 16px;
$recall-question-total-width: 75px;
$recall-question-total-height: 53px;
$recall-question-image: '../images/sprite.png';
$recall-question: (0px, 37px, 0px, -37px, 17px, 16px, 75px, 53px, '../images/sprite.png', 'recall-question', );
$recall-right-name: 'recall-right';
$recall-right-x: 61px;
$recall-right-y: 0px;
$recall-right-offset-x: -61px;
$recall-right-offset-y: 0px;
$recall-right-width: 14px;
$recall-right-height: 25px;
$recall-right-total-width: 75px;
$recall-right-total-height: 53px;
$recall-right-image: '../images/sprite.png';
$recall-right: (61px, 0px, -61px, 0px, 14px, 25px, 75px, 53px, '../images/sprite.png', 'recall-right', );
$twitter-name: 'twitter';
$twitter-x: 21px;
$twitter-y: 37px;
$twitter-offset-x: -21px;
$twitter-offset-y: -37px;
$twitter-width: 18px;
$twitter-height: 15px;
$twitter-total-width: 75px;
$twitter-total-height: 53px;
$twitter-image: '../images/sprite.png';
$twitter: (21px, 37px, -21px, -37px, 18px, 15px, 75px, 53px, '../images/sprite.png', 'twitter', );
$spritesheet-width: 75px;
$spritesheet-height: 53px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down, $basket, $quote-icon, $recall-question, $recall-right, $twitter, );
$spritesheet: (75px, 53px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
