/**------------------------------------------------------------------
 * [Table of contents | Critical]
 *
 * 1. Typography #typography
 * 2. Variables #variables
 * 3. Colors #colors
 * 4. Mixins #mixins
 * 5. Normalize #normalize
 * 6. Grid-mixins #grid-mixins
 * 7. Responsive-utilites #responsive-utilites
 * 8. Grid #grid
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html
{
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */

        -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body
{
    margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section
{
    display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1
{
    font-size: 2em;

    margin: .67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure
{
    display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure
{
    margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr
{
    /* 1 */
    overflow: visible;

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 2 */
}

/**
     * Add the correct display in IE.
     */
main
{
    display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre
{
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a
{
    background-color: transparent;
    /* 1 */

    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover
{
    outline-width: 0;
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title]
{
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;

    border-bottom: none;
    /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong
{
    font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong
{
    font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp
{
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn
{
    font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark
{
    color: #000; 
    background-color: #ff0;
}

/**
     * Add the correct font size in all browsers.
     */
small
{
    font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video
{
    display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls])
{
    display: none;

    height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img
{
    border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root)
{
    overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea
{
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */

    margin: 0;
    /* 2 */
}

/**
     * Show the overflow in IE.
     */
button
{
    overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select
{
    /* 1 */
    text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type='button'],
[type='reset'],
[type='submit']
{
    -webkit-appearance: button;
    /* 2 */
}

button,
[type='button'],
[type='reset'],
[type='submit']
{
    /**
       * Remove the inner border and padding in Firefox.
       */
    /**
       * Restore the focus styles unset by the previous rule.
       */
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
{
    padding: 0; 

    border-style: none;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring
{
    outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input
{
    overflow: visible;

    background-color: transparent;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type='checkbox'],
[type='radio']
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type='search']
{
    /* 1 */
    outline-offset: -2px;

    -webkit-appearance: textfield;
    /* 2 */
    /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button
{
    /* 1 */
    font: inherit;

    -webkit-appearance: button;
    /* 2 */
}

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em; 

    border: 1px solid #c0c0c0;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend
{
    /* 1 */
    display: table;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 2 */

    white-space: normal;
    /* 3 */

    color: inherit;
    /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea
{
    overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details
{
    display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary
{
    display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu
{
    display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas
{
    display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template
{
    display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden]
{
    display: none;
}

/**
 * Colors #colors
 */
/**
 * Form colors
 */
@-webkit-keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}
@-o-keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}
@keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}

@-webkit-keyframes showOpacityTilt
{
    0%
    {
        display: block;

        -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@-o-keyframes showOpacityTilt
{
    0%
    {
        display: block;

        transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes showOpacityTilt
{
    0%
    {
        display: block;

        -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

/**
 * Typography #typography
 */
/**
 * Mixins #mixins
 */
.container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px; 
    padding-left: 15px;
}
.container::after
{
    display: table;
    clear: both; 

    content: '';
}
@media (min-width: 544px)
{
    .container
    {
        max-width: 576px;
    }
}
@media (min-width: 768px)
{
    .container
    {
        max-width: 720px;
    }
}
@media (min-width: 992px)
{
    .container
    {
        max-width: 940px;
    }
}
@media (min-width: 1280px)
{
    .container
    {
        max-width: 1140px;
    }
}

.container-fluid
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px; 
    padding-left: 15px;
}
.container-fluid::after
{
    display: table;
    clear: both; 

    content: '';
}

.row
{
    margin-right: -15px; 
    margin-left: -15px;
}
.row::after
{
    display: table;
    clear: both; 

    content: '';
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12
{
    position: relative;

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1
{
    float: left;

    width: 8.33333%;
}

.col-xs-2
{
    float: left;

    width: 16.66667%;
}

.col-xs-3
{
    float: left;

    width: 25%;
}

.col-xs-4
{
    float: left;

    width: 33.33333%;
}

.col-xs-5
{
    float: left;

    width: 41.66667%;
}

.col-xs-6
{
    float: left;

    width: 50%;
}

.col-xs-7
{
    float: left;

    width: 58.33333%;
}

.col-xs-8
{
    float: left;

    width: 66.66667%;
}

.col-xs-9
{
    float: left;

    width: 75%;
}

.col-xs-10
{
    float: left;

    width: 83.33333%;
}

.col-xs-11
{
    float: left;

    width: 91.66667%;
}

.col-xs-12
{
    float: left;

    width: 100%;
}

.pull-xs-0
{
    right: auto;
}

.pull-xs-1
{
    right: 8.33333%;
}

.pull-xs-2
{
    right: 16.66667%;
}

.pull-xs-3
{
    right: 25%;
}

.pull-xs-4
{
    right: 33.33333%;
}

.pull-xs-5
{
    right: 41.66667%;
}

.pull-xs-6
{
    right: 50%;
}

.pull-xs-7
{
    right: 58.33333%;
}

.pull-xs-8
{
    right: 66.66667%;
}

.pull-xs-9
{
    right: 75%;
}

.pull-xs-10
{
    right: 83.33333%;
}

.pull-xs-11
{
    right: 91.66667%;
}

.pull-xs-12
{
    right: 100%;
}

.push-xs-0
{
    left: auto;
}

.push-xs-1
{
    left: 8.33333%;
}

.push-xs-2
{
    left: 16.66667%;
}

.push-xs-3
{
    left: 25%;
}

.push-xs-4
{
    left: 33.33333%;
}

.push-xs-5
{
    left: 41.66667%;
}

.push-xs-6
{
    left: 50%;
}

.push-xs-7
{
    left: 58.33333%;
}

.push-xs-8
{
    left: 66.66667%;
}

.push-xs-9
{
    left: 75%;
}

.push-xs-10
{
    left: 83.33333%;
}

.push-xs-11
{
    left: 91.66667%;
}

.push-xs-12
{
    left: 100%;
}

.offset-xs-1
{
    margin-left: 8.33333%;
}

.offset-xs-2
{
    margin-left: 16.66667%;
}

.offset-xs-3
{
    margin-left: 25%;
}

.offset-xs-4
{
    margin-left: 33.33333%;
}

.offset-xs-5
{
    margin-left: 41.66667%;
}

.offset-xs-6
{
    margin-left: 50%;
}

.offset-xs-7
{
    margin-left: 58.33333%;
}

.offset-xs-8
{
    margin-left: 66.66667%;
}

.offset-xs-9
{
    margin-left: 75%;
}

.offset-xs-10
{
    margin-left: 83.33333%;
}

.offset-xs-11
{
    margin-left: 91.66667%;
}

@media (min-width: 544px)
{
    .col-sm-1
    {
        float: left;

        width: 8.33333%;
    }
    .col-sm-2
    {
        float: left;

        width: 16.66667%;
    }
    .col-sm-3
    {
        float: left;

        width: 25%;
    }
    .col-sm-4
    {
        float: left;

        width: 33.33333%;
    }
    .col-sm-5
    {
        float: left;

        width: 41.66667%;
    }
    .col-sm-6
    {
        float: left;

        width: 50%;
    }
    .col-sm-7
    {
        float: left;

        width: 58.33333%;
    }
    .col-sm-8
    {
        float: left;

        width: 66.66667%;
    }
    .col-sm-9
    {
        float: left;

        width: 75%;
    }
    .col-sm-10
    {
        float: left;

        width: 83.33333%;
    }
    .col-sm-11
    {
        float: left;

        width: 91.66667%;
    }
    .col-sm-12
    {
        float: left;

        width: 100%;
    }
    .pull-sm-0
    {
        right: auto;
    }
    .pull-sm-1
    {
        right: 8.33333%;
    }
    .pull-sm-2
    {
        right: 16.66667%;
    }
    .pull-sm-3
    {
        right: 25%;
    }
    .pull-sm-4
    {
        right: 33.33333%;
    }
    .pull-sm-5
    {
        right: 41.66667%;
    }
    .pull-sm-6
    {
        right: 50%;
    }
    .pull-sm-7
    {
        right: 58.33333%;
    }
    .pull-sm-8
    {
        right: 66.66667%;
    }
    .pull-sm-9
    {
        right: 75%;
    }
    .pull-sm-10
    {
        right: 83.33333%;
    }
    .pull-sm-11
    {
        right: 91.66667%;
    }
    .pull-sm-12
    {
        right: 100%;
    }
    .push-sm-0
    {
        left: auto;
    }
    .push-sm-1
    {
        left: 8.33333%;
    }
    .push-sm-2
    {
        left: 16.66667%;
    }
    .push-sm-3
    {
        left: 25%;
    }
    .push-sm-4
    {
        left: 33.33333%;
    }
    .push-sm-5
    {
        left: 41.66667%;
    }
    .push-sm-6
    {
        left: 50%;
    }
    .push-sm-7
    {
        left: 58.33333%;
    }
    .push-sm-8
    {
        left: 66.66667%;
    }
    .push-sm-9
    {
        left: 75%;
    }
    .push-sm-10
    {
        left: 83.33333%;
    }
    .push-sm-11
    {
        left: 91.66667%;
    }
    .push-sm-12
    {
        left: 100%;
    }
    .offset-sm-0
    {
        margin-left: 0;
    }
    .offset-sm-1
    {
        margin-left: 8.33333%;
    }
    .offset-sm-2
    {
        margin-left: 16.66667%;
    }
    .offset-sm-3
    {
        margin-left: 25%;
    }
    .offset-sm-4
    {
        margin-left: 33.33333%;
    }
    .offset-sm-5
    {
        margin-left: 41.66667%;
    }
    .offset-sm-6
    {
        margin-left: 50%;
    }
    .offset-sm-7
    {
        margin-left: 58.33333%;
    }
    .offset-sm-8
    {
        margin-left: 66.66667%;
    }
    .offset-sm-9
    {
        margin-left: 75%;
    }
    .offset-sm-10
    {
        margin-left: 83.33333%;
    }
    .offset-sm-11
    {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px)
{
    .col-md-1
    {
        float: left;

        width: 8.33333%;
    }
    .col-md-2
    {
        float: left;

        width: 16.66667%;
    }
    .col-md-3
    {
        float: left;

        width: 25%;
    }
    .col-md-4
    {
        float: left;

        width: 33.33333%;
    }
    .col-md-5
    {
        float: left;

        width: 41.66667%;
    }
    .col-md-6
    {
        float: left;

        width: 50%;
    }
    .col-md-7
    {
        float: left;

        width: 58.33333%;
    }
    .col-md-8
    {
        float: left;

        width: 66.66667%;
    }
    .col-md-9
    {
        float: left;

        width: 75%;
    }
    .col-md-10
    {
        float: left;

        width: 83.33333%;
    }
    .col-md-11
    {
        float: left;

        width: 91.66667%;
    }
    .col-md-12
    {
        float: left;

        width: 100%;
    }
    .pull-md-0
    {
        right: auto;
    }
    .pull-md-1
    {
        right: 8.33333%;
    }
    .pull-md-2
    {
        right: 16.66667%;
    }
    .pull-md-3
    {
        right: 25%;
    }
    .pull-md-4
    {
        right: 33.33333%;
    }
    .pull-md-5
    {
        right: 41.66667%;
    }
    .pull-md-6
    {
        right: 50%;
    }
    .pull-md-7
    {
        right: 58.33333%;
    }
    .pull-md-8
    {
        right: 66.66667%;
    }
    .pull-md-9
    {
        right: 75%;
    }
    .pull-md-10
    {
        right: 83.33333%;
    }
    .pull-md-11
    {
        right: 91.66667%;
    }
    .pull-md-12
    {
        right: 100%;
    }
    .push-md-0
    {
        left: auto;
    }
    .push-md-1
    {
        left: 8.33333%;
    }
    .push-md-2
    {
        left: 16.66667%;
    }
    .push-md-3
    {
        left: 25%;
    }
    .push-md-4
    {
        left: 33.33333%;
    }
    .push-md-5
    {
        left: 41.66667%;
    }
    .push-md-6
    {
        left: 50%;
    }
    .push-md-7
    {
        left: 58.33333%;
    }
    .push-md-8
    {
        left: 66.66667%;
    }
    .push-md-9
    {
        left: 75%;
    }
    .push-md-10
    {
        left: 83.33333%;
    }
    .push-md-11
    {
        left: 91.66667%;
    }
    .push-md-12
    {
        left: 100%;
    }
    .offset-md-0
    {
        margin-left: 0;
    }
    .offset-md-1
    {
        margin-left: 8.33333%;
    }
    .offset-md-2
    {
        margin-left: 16.66667%;
    }
    .offset-md-3
    {
        margin-left: 25%;
    }
    .offset-md-4
    {
        margin-left: 33.33333%;
    }
    .offset-md-5
    {
        margin-left: 41.66667%;
    }
    .offset-md-6
    {
        margin-left: 50%;
    }
    .offset-md-7
    {
        margin-left: 58.33333%;
    }
    .offset-md-8
    {
        margin-left: 66.66667%;
    }
    .offset-md-9
    {
        margin-left: 75%;
    }
    .offset-md-10
    {
        margin-left: 83.33333%;
    }
    .offset-md-11
    {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px)
{
    .col-lg-1
    {
        float: left;

        width: 8.33333%;
    }
    .col-lg-2
    {
        float: left;

        width: 16.66667%;
    }
    .col-lg-3
    {
        float: left;

        width: 25%;
    }
    .col-lg-4
    {
        float: left;

        width: 33.33333%;
    }
    .col-lg-5
    {
        float: left;

        width: 41.66667%;
    }
    .col-lg-6
    {
        float: left;

        width: 50%;
    }
    .col-lg-7
    {
        float: left;

        width: 58.33333%;
    }
    .col-lg-8
    {
        float: left;

        width: 66.66667%;
    }
    .col-lg-9
    {
        float: left;

        width: 75%;
    }
    .col-lg-10
    {
        float: left;

        width: 83.33333%;
    }
    .col-lg-11
    {
        float: left;

        width: 91.66667%;
    }
    .col-lg-12
    {
        float: left;

        width: 100%;
    }
    .pull-lg-0
    {
        right: auto;
    }
    .pull-lg-1
    {
        right: 8.33333%;
    }
    .pull-lg-2
    {
        right: 16.66667%;
    }
    .pull-lg-3
    {
        right: 25%;
    }
    .pull-lg-4
    {
        right: 33.33333%;
    }
    .pull-lg-5
    {
        right: 41.66667%;
    }
    .pull-lg-6
    {
        right: 50%;
    }
    .pull-lg-7
    {
        right: 58.33333%;
    }
    .pull-lg-8
    {
        right: 66.66667%;
    }
    .pull-lg-9
    {
        right: 75%;
    }
    .pull-lg-10
    {
        right: 83.33333%;
    }
    .pull-lg-11
    {
        right: 91.66667%;
    }
    .pull-lg-12
    {
        right: 100%;
    }
    .push-lg-0
    {
        left: auto;
    }
    .push-lg-1
    {
        left: 8.33333%;
    }
    .push-lg-2
    {
        left: 16.66667%;
    }
    .push-lg-3
    {
        left: 25%;
    }
    .push-lg-4
    {
        left: 33.33333%;
    }
    .push-lg-5
    {
        left: 41.66667%;
    }
    .push-lg-6
    {
        left: 50%;
    }
    .push-lg-7
    {
        left: 58.33333%;
    }
    .push-lg-8
    {
        left: 66.66667%;
    }
    .push-lg-9
    {
        left: 75%;
    }
    .push-lg-10
    {
        left: 83.33333%;
    }
    .push-lg-11
    {
        left: 91.66667%;
    }
    .push-lg-12
    {
        left: 100%;
    }
    .offset-lg-0
    {
        margin-left: 0;
    }
    .offset-lg-1
    {
        margin-left: 8.33333%;
    }
    .offset-lg-2
    {
        margin-left: 16.66667%;
    }
    .offset-lg-3
    {
        margin-left: 25%;
    }
    .offset-lg-4
    {
        margin-left: 33.33333%;
    }
    .offset-lg-5
    {
        margin-left: 41.66667%;
    }
    .offset-lg-6
    {
        margin-left: 50%;
    }
    .offset-lg-7
    {
        margin-left: 58.33333%;
    }
    .offset-lg-8
    {
        margin-left: 66.66667%;
    }
    .offset-lg-9
    {
        margin-left: 75%;
    }
    .offset-lg-10
    {
        margin-left: 83.33333%;
    }
    .offset-lg-11
    {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1280px)
{
    .col-xl-1
    {
        float: left;

        width: 8.33333%;
    }
    .col-xl-2
    {
        float: left;

        width: 16.66667%;
    }
    .col-xl-3
    {
        float: left;

        width: 25%;
    }
    .col-xl-4
    {
        float: left;

        width: 33.33333%;
    }
    .col-xl-5
    {
        float: left;

        width: 41.66667%;
    }
    .col-xl-6
    {
        float: left;

        width: 50%;
    }
    .col-xl-7
    {
        float: left;

        width: 58.33333%;
    }
    .col-xl-8
    {
        float: left;

        width: 66.66667%;
    }
    .col-xl-9
    {
        float: left;

        width: 75%;
    }
    .col-xl-10
    {
        float: left;

        width: 83.33333%;
    }
    .col-xl-11
    {
        float: left;

        width: 91.66667%;
    }
    .col-xl-12
    {
        float: left;

        width: 100%;
    }
    .pull-xl-0
    {
        right: auto;
    }
    .pull-xl-1
    {
        right: 8.33333%;
    }
    .pull-xl-2
    {
        right: 16.66667%;
    }
    .pull-xl-3
    {
        right: 25%;
    }
    .pull-xl-4
    {
        right: 33.33333%;
    }
    .pull-xl-5
    {
        right: 41.66667%;
    }
    .pull-xl-6
    {
        right: 50%;
    }
    .pull-xl-7
    {
        right: 58.33333%;
    }
    .pull-xl-8
    {
        right: 66.66667%;
    }
    .pull-xl-9
    {
        right: 75%;
    }
    .pull-xl-10
    {
        right: 83.33333%;
    }
    .pull-xl-11
    {
        right: 91.66667%;
    }
    .pull-xl-12
    {
        right: 100%;
    }
    .push-xl-0
    {
        left: auto;
    }
    .push-xl-1
    {
        left: 8.33333%;
    }
    .push-xl-2
    {
        left: 16.66667%;
    }
    .push-xl-3
    {
        left: 25%;
    }
    .push-xl-4
    {
        left: 33.33333%;
    }
    .push-xl-5
    {
        left: 41.66667%;
    }
    .push-xl-6
    {
        left: 50%;
    }
    .push-xl-7
    {
        left: 58.33333%;
    }
    .push-xl-8
    {
        left: 66.66667%;
    }
    .push-xl-9
    {
        left: 75%;
    }
    .push-xl-10
    {
        left: 83.33333%;
    }
    .push-xl-11
    {
        left: 91.66667%;
    }
    .push-xl-12
    {
        left: 100%;
    }
    .offset-xl-0
    {
        margin-left: 0;
    }
    .offset-xl-1
    {
        margin-left: 8.33333%;
    }
    .offset-xl-2
    {
        margin-left: 16.66667%;
    }
    .offset-xl-3
    {
        margin-left: 25%;
    }
    .offset-xl-4
    {
        margin-left: 33.33333%;
    }
    .offset-xl-5
    {
        margin-left: 41.66667%;
    }
    .offset-xl-6
    {
        margin-left: 50%;
    }
    .offset-xl-7
    {
        margin-left: 58.33333%;
    }
    .offset-xl-8
    {
        margin-left: 66.66667%;
    }
    .offset-xl-9
    {
        margin-left: 75%;
    }
    .offset-xl-10
    {
        margin-left: 83.33333%;
    }
    .offset-xl-11
    {
        margin-left: 91.66667%;
    }
}

body
{
    font-size: 14px;
}

ul,
ol
{
    margin: 0;
    padding: 0;

    list-style: none;
}

button
{
    padding: 0;

    cursor: pointer;
}
button:hover,
button:focus
{
    outline: none;
}

html,
body
{
    height: 100%;
}

body
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column; 

    min-height: 100%;

    -js-display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.wrap
{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.header__top-bar
{
    position: relative;

    height: 50px;

    background-color: #f2f2f2;
}

/**---------------------------------------------
  * header__top-nav
  */
.header__top-nav
{
    float: left;
}

.header__top-btn
{
    display: block;
    float: left;

    width: 40px;
    height: 38px;
    margin-top: 5px;
    margin-right: 15px;

    border: none;
    background-color: transparent;
}

.header__top-btn span
{
    display: block;

    height: 3px;
    margin-bottom: 3px; 

    background-color: #000;
}
.header__top-btn span:last-child
{
    margin-bottom: 0;
}

.header__top-ttl
{
    font-size: 16px;
    line-height: 50px;
}

.header__top-menu
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    display: none;

    padding: 20px 15px;

    background-color: #f2f2f2;
}

.header__top-menu li a
{
    color: #e5352c;
}

.header__top-nav.active .header__top-menu
{
    display: block;
}

.header__top-info
{
    float: right;
}

.header__top-info ul
{
    line-height: 50px;
}

@media (min-width: 992px)
{
    .header__top-ttl,
    .header__top-btn
    {
        display: none;
    }
    .header__top-menu
    {
        position: static;

        display: block;

        padding: 0;
    }
    .header__top-menu li
    {
        line-height: 50px; 

        display: block;
        float: left;

        margin-right: 10px;
    }
    .header__top-menu li:last-child
    {
        margin-right: 0;
    }
}

.footer
{
    padding-top: 40px;
    padding-bottom: 50px;

    background-color: #f2f2f2;
}

.cpr
{
    font-size: 12px; 

    margin-top: 30px;
}

.cpr a
{
    color: #e5352c;
}

@media (min-width: 544px)
{
    .cpr__dt
    {
        float: left;

        max-width: 40%;
    }
    .cpr__link
    {
        float: right;

        max-width: 40%;

        text-align: right;
    }
}

.btn
{
    font-family: 'OpenSansBold', sans-serif;
    font-size: 18px;
    line-height: 39px;

    width: auto;
    height: 40px;
    padding: 0 20px;

    cursor: pointer;
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
    vertical-align: middle;

    color: #fff;
    border: none;
    border-radius: 4px;
    background: #fa3972;
    -webkit-box-shadow: 0 2px 0 0 #d33161;
            box-shadow: 0 2px 0 0 #d33161;
}
.btn:hover
{
    background-color: #f85484;
}

.dropdown
{
    position: relative;

    display: inline-block;
}

.dropdown__state
{
    font-size: 14px;
    line-height: 28px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 

    color: #000;
}

.dropdown__state::before
{
    position: absolute;
    top: 0;
    right: -21px;
    bottom: 0;

    display: block;

    width: 15px;
    height: 15px;
    margin: auto;

    content: '';

    background: transparent url('../images/select-arrow.svg') center no-repeat;
}

.dropdown__state.active::before
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}

.dropdown__list
{
    position: absolute;
    left: 0;

    display: none;
    overflow: auto;

    min-width: 260px;

    border: 1px solid #eaedec;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1);
}

.dropdown__list.active
{
    display: block;
}

.dropdown__item
{
    font-size: 14px;

    padding: 10px 15px;

    border-bottom: 1px solid #eaedec;
}

.dropdown__item:last-child
{
    border-bottom: none;
}

.dropdown__item input
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 20px;
    height: 20px;
}

.dropdown__item input[type=checkbox]
{
    display: none;
}

.dropdown__item label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.dropdown__item label:before
{
    position: absolute;
    top: -3px;
    right: 0;

    width: 24px;
    height: 21px;

    content: ' ';

    border: 1px solid #d7dcda;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 0 #d7dcda;
            box-shadow: 0 1px 0 0 #d7dcda;
}

.dropdown__item input[type=checkbox]:checked + label:before
{
    top: -2px;

    border: 1px solid #eaedec;
    background: #eaedec url(../images/checked.svg) 50% 32% no-repeat;
    -webkit-box-shadow: 0 -2px 0 0 #d7dcda;
            box-shadow: 0 -2px 0 0 #d7dcda;
}

.subscribe__header
{
    margin-bottom: 15px;
}

.subscribe__ttl
{
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: normal; 

    margin: 0;
}

.subscribe__sub-ttl
{
    font-family: 'OpenSansBold', sans-serif; 
    font-size: 14px;

    display: block;

    margin: 0;
}

.form-group
{
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.form-control
{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;

    width: 100%;
    height: 35px;
    padding-bottom: 5px;

    color: #000;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
}

.form-group--line
{
    border: none;
    border-bottom: 2px solid #000;
}

.subscribe input::-webkit-input-placeholder
{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;

    color: #000;
}

.subscribe input:-ms-input-placeholder
{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;

    color: #000;
}

.subscribe input::-moz-placeholder
{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;

    color: #000;
}

.form-group label.error
{
    font-size: 12px;

    display: block;

    margin-top: 5px;

    color: #e5352c;
}

/**---------------------------------------------
  * Subscribe select
  */
.select2-container--default .subscribe-select2.select2-selection--single
{
    border: none;
    outline: none; 
    background-color: transparent;
}

.select2-container--default .subscribe-select2.select2-selection--single .select2-selection__rendered
{
    padding-left: 0;
}

.select2-container--default .subscribe-select2.select2-selection--single .select2-selection__arrow b
{
    top: 0;
    bottom: 0;

    width: 15px;
    height: 15px;
    margin: auto;

    border: 0; 
    background: transparent url('../images/select-arrow.svg') center no-repeat;
}

.select2-container--default.select2-container--open .subscribe-select2.select2-selection--single .select2-selection__arrow b
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}

.select2-container--default .subscribe-select2-dropdown .select2-results__option--highlighted[aria-selected],
.select2-container--default .subscribe-select2-dropdown .select2-results__option[aria-selected=true]
{
    color: #000; 
    background-color: #eaedec;
}

.subscribe-select2-dropdown .select2-results .select2-results__option
{
    font-size: 14px;

    padding: 10px 15px;

    border-bottom: 1px solid #eaedec;
}

.subscribe-select2-dropdown .select2-results .select2-results__option:last-child
{
    border-bottom: none;
}

.subscribe-select2-dropdown .select2-results .select2-results__options
{
    margin: 5px 0;
}

.subscribe-select2-dropdown .select2-results .select2-results__option:last-child
{
    border-bottom: none;
}

.select2-container--open .subscribe-select2-dropdown.select2-dropdown--below,
.select2-container--open .subscribe-select2-dropdown.select2-dropdown--above
{
    font-size: 14px;

    position: absolute;
    left: 0;

    overflow: auto;

    min-width: 260px;
    margin-top: 5px;

    border: 1px solid #eaedec;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1);
}

.subscribe-wrap.center
{
    text-align: center;
}

.heading
{
    font-size: 24px;

    overflow: hidden; 

    margin: 40px 0 20px;
}

.heading--center
{
    text-align: center;
}

.heading::before,
.heading::after
{
    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 1px;

    content: '';
    vertical-align: middle;

    border: solid #fff;
    border-width: 0 15px; 
    background: #eaedec;
}

.heading::before
{
    margin-left: -100%;
}

.heading::after
{
    margin-right: -100%;
}

.b-brands__items
{
    text-align: center;
}

.b-brands__items .brand-item
{
    position: relative;

    display: inline-block;

    width: 150px;
    height: 65px;
    margin-bottom: 15px;

    text-align: center;
    vertical-align: middle;
}
.b-brands__items .brand-item:focus
{
    outline: none;
}

.b-brands__items--slider .brand-item
{
    margin-bottom: 0;
}

.b-brands__items .brand-item img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline;

    max-width: 90%;
    max-height: 90%; 
    margin: auto;
}

.b-brands__items.b-brands__items--grayscale .brand-item img
{
    -webkit-transition: -webkit-filter .3s cubic-bezier(.25, .46, .45, .94);
         -o-transition:         filter .3s cubic-bezier(.25, .46, .45, .94);
            transition: -webkit-filter .3s cubic-bezier(.25, .46, .45, .94);
            transition:         filter .3s cubic-bezier(.25, .46, .45, .94);
            transition:         filter .3s cubic-bezier(.25, .46, .45, .94), -webkit-filter .3s cubic-bezier(.25, .46, .45, .94); 

    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
.b-brands__items.b-brands__items--grayscale .brand-item img:hover
{
    -webkit-transition: -webkit-filter .3s cubic-bezier(.215, .61, .355, 1);
         -o-transition:         filter .3s cubic-bezier(.215, .61, .355, 1);
            transition: -webkit-filter .3s cubic-bezier(.215, .61, .355, 1);
            transition:         filter .3s cubic-bezier(.215, .61, .355, 1);
            transition:         filter .3s cubic-bezier(.215, .61, .355, 1), -webkit-filter .3s cubic-bezier(.215, .61, .355, 1); 

    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

.b-brands__items .slick-prev
{
    z-index: 1; 
    left: 10px;
}
.b-brands__items .slick-prev::before
{
    color: #000;
}

.b-brands__items .slick-next
{
    z-index: 1; 
    right: 10px;
}
.b-brands__items .slick-next::before
{
    color: #000;
}

.b-product__article
{
    width: 225px;

    text-align: center;
}

.b-product__img
{
    margin-bottom: 25px;
}

.b-product__img img
{
    max-width: 100%;
}

.b-product__ttl,
.b-product__cat,
.b-product__price
{
    margin-bottom: 10px;
}

.b-product__ttl-link
{
    font-size: 14px;
}

.b-product__cat-link
{
    font-size: 12px; 

    display: inline-block;

    padding: 10px;

    background-color: #eaedec;
}

.b-product__price,
.b-product__rating
{
    position: relative;

    overflow: hidden;
}

.b-product__cash,
.b-product__stars
{
    float: left;
}

.b-product__buy,
.b-product__comments
{
    float: right;
}

.b-product__cash
{
    font-size: 20px;

    color: #6c1287;
}

.b-product__buy
{
    font-size: 14px; 
    line-height: 23px;
}

.b-product__comments-link
{
    font-size: 10px;
}

/*# sourceMappingURL=critical.css.map */
