/**------------------------------------------------------------------
 * [Table of contents | Critical]
 *
 * 1. Typography #typography
 * 2. Variables #variables
 * 3. Colors #colors
 * 4. Mixins #mixins
 * 5. Normalize #normalize
 * 6. Grid-mixins #grid-mixins
 * 7. Responsive-utilites #responsive-utilites
 * 8. Grid #grid
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

input:focus {
  outline: none; }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
  background-color: transparent; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/**
 * Colors #colors
 */
/**
 * Form colors
 */
@-webkit-keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-o-keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@-webkit-keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-o-keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

/**
 * Typography #typography
 */
/**
 * Mixins #mixins
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container::after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 1190px; } }
  @media (min-width: 1640px) {
    .container {
      max-width: 1500px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid::after {
    content: "";
    display: table;
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xm-1, .col-xm-2, .col-xm-3, .col-xm-4, .col-xm-5, .col-xm-6, .col-xm-7, .col-xm-8, .col-xm-9, .col-xm-10, .col-xm-11, .col-xm-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1 {
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  float: left;
  width: 25%; }

.col-xs-4 {
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  float: left;
  width: 50%; }

.col-xs-7 {
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  float: left;
  width: 75%; }

.col-xs-10 {
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  float: left;
  width: 100%; }

.pull-xs-0 {
  right: auto; }

.pull-xs-1 {
  right: 8.33333%; }

.pull-xs-2 {
  right: 16.66667%; }

.pull-xs-3 {
  right: 25%; }

.pull-xs-4 {
  right: 33.33333%; }

.pull-xs-5 {
  right: 41.66667%; }

.pull-xs-6 {
  right: 50%; }

.pull-xs-7 {
  right: 58.33333%; }

.pull-xs-8 {
  right: 66.66667%; }

.pull-xs-9 {
  right: 75%; }

.pull-xs-10 {
  right: 83.33333%; }

.pull-xs-11 {
  right: 91.66667%; }

.pull-xs-12 {
  right: 100%; }

.push-xs-0 {
  left: auto; }

.push-xs-1 {
  left: 8.33333%; }

.push-xs-2 {
  left: 16.66667%; }

.push-xs-3 {
  left: 25%; }

.push-xs-4 {
  left: 33.33333%; }

.push-xs-5 {
  left: 41.66667%; }

.push-xs-6 {
  left: 50%; }

.push-xs-7 {
  left: 58.33333%; }

.push-xs-8 {
  left: 66.66667%; }

.push-xs-9 {
  left: 75%; }

.push-xs-10 {
  left: 83.33333%; }

.push-xs-11 {
  left: 91.66667%; }

.push-xs-12 {
  left: 100%; }

.offset-xs-1 {
  margin-left: 8.33333%; }

.offset-xs-2 {
  margin-left: 16.66667%; }

.offset-xs-3 {
  margin-left: 25%; }

.offset-xs-4 {
  margin-left: 33.33333%; }

.offset-xs-5 {
  margin-left: 41.66667%; }

.offset-xs-6 {
  margin-left: 50%; }

.offset-xs-7 {
  margin-left: 58.33333%; }

.offset-xs-8 {
  margin-left: 66.66667%; }

.offset-xs-9 {
  margin-left: 75%; }

.offset-xs-10 {
  margin-left: 83.33333%; }

.offset-xs-11 {
  margin-left: 91.66667%; }

@media (min-width: 544px) {
  .col-xm-1 {
    float: left;
    width: 8.33333%; }
  .col-xm-2 {
    float: left;
    width: 16.66667%; }
  .col-xm-3 {
    float: left;
    width: 25%; }
  .col-xm-4 {
    float: left;
    width: 33.33333%; }
  .col-xm-5 {
    float: left;
    width: 41.66667%; }
  .col-xm-6 {
    float: left;
    width: 50%; }
  .col-xm-7 {
    float: left;
    width: 58.33333%; }
  .col-xm-8 {
    float: left;
    width: 66.66667%; }
  .col-xm-9 {
    float: left;
    width: 75%; }
  .col-xm-10 {
    float: left;
    width: 83.33333%; }
  .col-xm-11 {
    float: left;
    width: 91.66667%; }
  .col-xm-12 {
    float: left;
    width: 100%; }
  .pull-xm-0 {
    right: auto; }
  .pull-xm-1 {
    right: 8.33333%; }
  .pull-xm-2 {
    right: 16.66667%; }
  .pull-xm-3 {
    right: 25%; }
  .pull-xm-4 {
    right: 33.33333%; }
  .pull-xm-5 {
    right: 41.66667%; }
  .pull-xm-6 {
    right: 50%; }
  .pull-xm-7 {
    right: 58.33333%; }
  .pull-xm-8 {
    right: 66.66667%; }
  .pull-xm-9 {
    right: 75%; }
  .pull-xm-10 {
    right: 83.33333%; }
  .pull-xm-11 {
    right: 91.66667%; }
  .pull-xm-12 {
    right: 100%; }
  .push-xm-0 {
    left: auto; }
  .push-xm-1 {
    left: 8.33333%; }
  .push-xm-2 {
    left: 16.66667%; }
  .push-xm-3 {
    left: 25%; }
  .push-xm-4 {
    left: 33.33333%; }
  .push-xm-5 {
    left: 41.66667%; }
  .push-xm-6 {
    left: 50%; }
  .push-xm-7 {
    left: 58.33333%; }
  .push-xm-8 {
    left: 66.66667%; }
  .push-xm-9 {
    left: 75%; }
  .push-xm-10 {
    left: 83.33333%; }
  .push-xm-11 {
    left: 91.66667%; }
  .push-xm-12 {
    left: 100%; }
  .offset-xm-0 {
    margin-left: 0%; }
  .offset-xm-1 {
    margin-left: 8.33333%; }
  .offset-xm-2 {
    margin-left: 16.66667%; }
  .offset-xm-3 {
    margin-left: 25%; }
  .offset-xm-4 {
    margin-left: 33.33333%; }
  .offset-xm-5 {
    margin-left: 41.66667%; }
  .offset-xm-6 {
    margin-left: 50%; }
  .offset-xm-7 {
    margin-left: 58.33333%; }
  .offset-xm-8 {
    margin-left: 66.66667%; }
  .offset-xm-9 {
    margin-left: 75%; }
  .offset-xm-10 {
    margin-left: 83.33333%; }
  .offset-xm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.33333%; }
  .pull-sm-2 {
    right: 16.66667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.33333%; }
  .pull-sm-5 {
    right: 41.66667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.33333%; }
  .pull-sm-8 {
    right: 66.66667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.33333%; }
  .pull-sm-11 {
    right: 91.66667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.33333%; }
  .push-sm-2 {
    left: 16.66667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.33333%; }
  .push-sm-5 {
    left: 41.66667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.33333%; }
  .push-sm-8 {
    left: 66.66667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.33333%; }
  .push-sm-11 {
    left: 91.66667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-4 {
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-7 {
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-10 {
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.33333%; }
  .pull-md-2 {
    right: 16.66667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.33333%; }
  .pull-md-5 {
    right: 41.66667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.33333%; }
  .pull-md-8 {
    right: 66.66667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.33333%; }
  .pull-md-11 {
    right: 91.66667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.33333%; }
  .push-md-2 {
    left: 16.66667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.33333%; }
  .push-md-5 {
    left: 41.66667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.33333%; }
  .push-md-8 {
    left: 66.66667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.33333%; }
  .push-md-11 {
    left: 91.66667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1280px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }
  .col-lg-2 {
    float: left;
    width: 16.66667%; }
  .col-lg-3 {
    float: left;
    width: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.33333%; }
  .col-lg-5 {
    float: left;
    width: 41.66667%; }
  .col-lg-6 {
    float: left;
    width: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.33333%; }
  .col-lg-8 {
    float: left;
    width: 66.66667%; }
  .col-lg-9 {
    float: left;
    width: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.33333%; }
  .col-lg-11 {
    float: left;
    width: 91.66667%; }
  .col-lg-12 {
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.33333%; }
  .pull-lg-2 {
    right: 16.66667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.33333%; }
  .pull-lg-5 {
    right: 41.66667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.33333%; }
  .pull-lg-8 {
    right: 66.66667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.33333%; }
  .pull-lg-11 {
    right: 91.66667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.33333%; }
  .push-lg-2 {
    left: 16.66667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.33333%; }
  .push-lg-5 {
    left: 41.66667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.33333%; }
  .push-lg-8 {
    left: 66.66667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.33333%; }
  .push-lg-11 {
    left: 91.66667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1640px) {
  .col-xl-1 {
    float: left;
    width: 8.33333%; }
  .col-xl-2 {
    float: left;
    width: 16.66667%; }
  .col-xl-3 {
    float: left;
    width: 25%; }
  .col-xl-4 {
    float: left;
    width: 33.33333%; }
  .col-xl-5 {
    float: left;
    width: 41.66667%; }
  .col-xl-6 {
    float: left;
    width: 50%; }
  .col-xl-7 {
    float: left;
    width: 58.33333%; }
  .col-xl-8 {
    float: left;
    width: 66.66667%; }
  .col-xl-9 {
    float: left;
    width: 75%; }
  .col-xl-10 {
    float: left;
    width: 83.33333%; }
  .col-xl-11 {
    float: left;
    width: 91.66667%; }
  .col-xl-12 {
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.33333%; }
  .pull-xl-2 {
    right: 16.66667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.33333%; }
  .pull-xl-5 {
    right: 41.66667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.33333%; }
  .pull-xl-8 {
    right: 66.66667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.33333%; }
  .pull-xl-11 {
    right: 91.66667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.33333%; }
  .push-xl-2 {
    left: 16.66667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.33333%; }
  .push-xl-5 {
    left: 41.66667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.33333%; }
  .push-xl-8 {
    left: 66.66667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.33333%; }
  .push-xl-11 {
    left: 91.66667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

body {
  font-family: "LucidaGrande";
  font-size: 13px; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
  font-family: "LucidaGrande";
  font-weight: normal; }

ul,
ol {
  list-style: none; }

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  button:hover, button:focus {
    outline: none; }

a {
  text-decoration: none;
  color: #2185D0; }

.text-center {
  text-align: center; }

.hr {
  position: relative;
  display: block;
  height: 6px; }
  .hr::before, .hr::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e2ddd8; }

.hr::before {
  top: 0; }

.hr::after {
  bottom: 0; }

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover; }

html, body {
  height: 100%; }

body {
  min-height: 100%; }

.header_main {
  clear: both; }

.header_main > .container {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-logo {
  margin: 0 auto; }

.header-logo a {
  display: block;
  width: 200px; }

.header__main-inner {
  width: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 45px 0; }

.header__main-info-list li {
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle; }

.header__main-info-list li:last-child {
  padding-right: 0; }

.header__main-info-list .tel {
  padding: 10px 0; }

.header__main-info-list .tel span {
  display: inline-block;
  padding: 0 5px;
  font-size: 18px;
  line-height: 20px;
  color: #1c285b; }

.header__main-info-list .tel a {
  padding: 0 5px;
  font-size: 26px;
  color: #1c285b; }

.header__main-info {
  width: 100%;
  margin-top: 25px;
  text-align: center; }

@media screen and (min-width: 768px) {
  .header-logo {
    margin: 0; }
  .header__main-info {
    max-width: 50%; } }

@media screen and (min-width: 1280px) {
  .header-logo {
    margin-left: -10px; }
  .header__main-info-list {
    text-align: right;
    padding-right: 10px; }
  .header__main-info {
    margin-top: 55px; } }

.header_menu-cat {
  display: none; }

@media (min-width: 1280px) {
  .header_menu-ttl {
    display: none; } }

.btn {
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  line-height: 20px;
  color: #fff;
  background: #1c285b;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  vertical-align: middle;
  text-decoration: none; }
  .btn:hover {
    background-color: #c4ab2f; }

.btn.btn--white {
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border: 1px solid #fff; }
  .btn.btn--white:hover {
    color: #c4ab2f;
    border-color: #c4ab2f; }

.btn-submit {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #e2ddd8;
  line-height: 40px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none; }
  .btn-submit::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background-image: url(../images/sprite.png);
    background-position: -94px -50px;
    width: 8px;
    height: 16px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown__state {
  font-size: 14px;
  line-height: 28px;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.dropdown__state::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -21px;
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  background: transparent url("../images/select-arrow.svg") center no-repeat; }

.dropdown__state.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg); }

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  overflow: auto;
  min-width: 260px;
  background-color: #fff;
  border: 1px solid #eaedec;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1); }

.dropdown__list.active {
  display: block; }

.dropdown__item {
  padding: 10px 15px;
  font-size: 14px;
  border-bottom: 1px solid #eaedec; }

.dropdown__item:last-child {
  border-bottom: none; }

.dropdown__item input {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px; }

.dropdown__item input[type=checkbox] {
  display: none; }

.dropdown__item label {
  display: block;
  position: relative;
  cursor: pointer; }

.dropdown__item label:before {
  content: " ";
  position: absolute;
  top: -3px;
  right: 0;
  width: 24px;
  height: 21px;
  border: 1px solid #d7dcda;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 0 #d7dcda;
          box-shadow: 0 1px 0 0 #d7dcda; }

.dropdown__item input[type=checkbox]:checked + label:before {
  top: -2px;
  background: #eaedec url(../images/checked.svg) 50% 32% no-repeat;
  border: 1px solid #eaedec;
  -webkit-box-shadow: 0px -2px 0 0 #d7dcda;
          box-shadow: 0px -2px 0 0 #d7dcda; }

.form-group {
  position: relative;
  margin-bottom: 20px; }

.form-group.required::after {
  content: '*';
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  color: #2185D0; }

.form-group.required.error::after {
  color: #B03060; }

.form-control {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  font-family: "LucidaGrande";
  color: #000000;
  border: 1px solid #e2ddd8;
  outline: none; }

.form-control.error {
  border-color: #B03060; }
  .form-control.error:focus {
    border-color: #2185D0; }

textarea.form-control {
  min-height: 100px;
  padding: 10px;
  resize: vertical; }

.form-control::-webkit-input-placeholder {
  color: #959595; }

.form-control:-moz-placeholder {
  color: #959595; }

.form-control::-moz-placeholder {
  color: #959595; }

.form-control:-ms-input-placeholder {
  color: #959595; }

.form-group--line {
  border: none;
  border-bottom: 1px solid #f4f3f3; }

.form-group label.error {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #B03060; }

.form-subscribe {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form-subscribe .form-group {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.form-subscribe .btn-submit {
  border-left: none; }

.heading {
  margin: 40px 0 20px;
  font-size: 24px;
  overflow: hidden;
  font-family: "LucidaGrande";
  font-weight: normal; }

.heading::before, .heading::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #eaedec;
  border: solid #FFF;
  border-width: 0 15px; }

.heading::before {
  margin-left: -100%; }

.heading::after {
  margin-right: -100%; }

.megamenu__title {
  display: block;
  padding: 15px 0;
  cursor: pointer;
  font-size: 20px;
  font-family: "FuturaBT Medium"; }

.header-container {
  position: relative;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }

.megamenu-wrap,
.megamenu {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  width: 100%; }

.megamenu__category {
  position: relative;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.megamenu__category::before {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #1c285b;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.megamenu__category > a,
.megamenu__category > span {
  font-size: 14px;
  line-height: 18px;
  padding: 16px 0;
  text-transform: uppercase;
  font-family: "FuturaBT Light"; }

.megamenu__category:first-child > a,
.megamenu__category:first-child > span {
  padding-left: 0; }

.megamenu__category:last-child > a,
.megamenu__category:last-child > span {
  padding-right: 0; }

.megamenu__sub-category {
  padding: 0 25px; }

.megamenu__sub-category a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 16px;
  font-family: "FuturaBT Light";
  text-transform: none;
  color: #1c285b; }

.megamenu__dropdown-wrap {
  position: static;
  width: 100%; }

.down .icon-chevron-down:before {
  top: 3px;
  left: 1px; }

.megamenu__title.opened + .megamenu__categories {
  display: block;
  -webkit-transition: height ease .48s;
  -o-transition: height ease .48s;
  transition: height ease .48s; }

.megamenu {
  height: 0;
  overflow: hidden;
  -webkit-transition: height ease .48s;
  -o-transition: height ease .48s;
  transition: height ease .48s; }

.megamenu__sub-category .megamenu__img {
  display: none;
  position: relative;
  padding-bottom: 0;
  padding-bottom: 56.25%;
  margin-bottom: 20px; }

.megamenu__sub-category .megamenu__img.active {
  display: block; }

@media (max-width: 1280px) {
  .megamenu__category.mod--actual .megamenu__has-sub::before {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    opacity: 0; }
  .megamenu__categories {
    position: relative; }
  .megamenu__dropdown-wrap {
    display: none;
    top: 0;
    left: 100%; } }

@media (min-width: 1280px) {
  .megamenu {
    height: auto !important; }
  .megamenu__sub-categories {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .megamenu__sub-container {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px;
    width: 100%; }
  .megamenu__dropdown {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .megamenu__dropdown-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    z-index: 3;
    padding: 25px 0;
    background-color: #1c285b;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .megamenu__category {
    z-index: auto;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  .megamenu__categories {
    width: 100%;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .megamenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 5;
    -webkit-flex-grow: 5;
        -ms-flex-positive: 5;
            flex-grow: 5; }
  .header-container {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #eaedec; }
  .megamenu__title {
    display: none; } }

@media (min-width: 1280px) {
  .megamenu__category:hover::before {
    opacity: 1; }
  .megamenu {
    overflow: visible; }
  .megamenu__category:hover .megamenu__dropdown-wrap {
    display: block; }
  .megamenu__sub-category .megamenu__img {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 140px;
    border-left: 1px solid #fff; }
  .megamenu__sub-category:hover .megamenu__img {
    display: block; }
  .megamenu__sub-category a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 15px;
    font-size: 14px;
    font-family: "FuturaBT Light";
    text-transform: none;
    color: #fff; } }

.slider-wrap {
  margin-bottom: 30px; }

.slider {
  border: 10px solid #fff; }

.slider .slider-img {
  position: relative;
  height: 300px;
  width: 100%; }

.slider .slick-next {
  z-index: 2;
  right: 0;
  height: 0;
  width: 0;
  border: 40px solid transparent;
  border-right-color: white;
  border-left-width: 0; }
  .slider .slick-next::before {
    position: absolute;
    top: 50%;
    right: -40px;
    left: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    content: '';
    background-image: url(../images/sprite.png);
    background-position: -26px 0px;
    width: 14px;
    height: 36px; }

.slider .slick-prev {
  left: 0;
  z-index: 2;
  height: 0;
  width: 0;
  border: 40px solid transparent;
  border-left-color: white;
  border-right-width: 0; }
  .slider .slick-prev::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -40px;
    right: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../images/sprite.png);
    background-position: -26px -40px;
    width: 14px;
    height: 36px; }

.slider .slick-dots {
  display: none; }

.slider .slick-dots li {
  float: right;
  height: 12px;
  width: 12px;
  margin: 0 2px; }
  .slider .slick-dots li:first-child {
    margin-right: 0; }

.slider .slick-dots li button:before {
  height: 12px;
  width: 12px;
  background-color: #1c285b;
  border-radius: 50%; }

@media screen and (min-width: 768px) {
  .slider .slider-img {
    height: 450px; } }

@media screen and (min-width: 1280px) {
  .slider-wrap {
    margin-top: -190px; }
  .slider-wrap .slider {
    margin-left: 45px; }
  .slider .slick-dots {
    display: inline-block; }
  .slider .slider-img {
    height: 550px; } }

.footer__list-wrap {
  margin-bottom: 30px; }

.footer {
  padding-top: 40px; }

.footer__list.footer__list--flex {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }
  .footer__list.footer__list--flex li {
    width: 50%; }

.footer__list {
  padding-bottom: 10px; }

.footer__list-ttl {
  padding-bottom: 5px;
  font-size: 17px;
  color: #5a5a5a;
  text-transform: uppercase; }

.footer__list li span {
  display: inline-block;
  line-height: 20px;
  padding: 3px 0;
  color: #959595;
  vertical-align: middle; }

.footer__list li a {
  display: inline-block;
  line-height: 20px;
  padding: 3px 0;
  color: #959595;
  vertical-align: middle; }
  .footer__list li a:hover {
    color: #c4ab2f; }

.footer__list li i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px; }

.footer__list li.tel i:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-image: url(../images/sprite.png);
  background-position: -109px 0px;
  width: 5px;
  height: 16px; }

.footer__list li.mail i:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-image: url(../images/sprite.png);
  background-position: 0px -84px;
  width: 14px;
  height: 14px; }

.footer__list li.mail a {
  color: #1c285b; }

@media screen and (min-width: 1280px) {
  .footer__list-wrap {
    margin-bottom: 0; } }

.cpr {
  padding-top: 15px;
  padding-bottom: 5px;
  margin-top: 30px;
  font-size: 11px;
  color: #959595;
  background-color: #f4f3f3; }

.cpr-inner {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cpr a {
  color: #2185D0; }

.cpr__dt,
.cpr__link {
  width: 100%;
  padding: 10px 0; }

@media (min-width: 768px) {
  .cpr__dt {
    float: left;
    max-width: 40%; }
  .cpr__link {
    float: right;
    max-width: 40%;
    text-align: right; } }

.tiles {
  margin-bottom: 65px; }

.tiles-wrap {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.tiles__item {
  position: relative;
  width: 100%;
  margin-bottom: 30px; }

.tiles__item-img {
  display: block;
  position: relative;
  height: 255px; }

.tiles__item-ttl {
  padding: 20px 0 15px;
  font-size: 18px;
  line-height: 24px;
  font-family: "FuturaBT Light";
  text-transform: uppercase;
  text-align: center; }

.tiles__item-info {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 35px;
  text-align: center;
  background-color: rgba(28, 40, 91, 0.6); }

.tiles__item-info .tiles__info-inner p {
  position: relative;
  height: 80px;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  text-align: left;
  color: #fff; }

.tiles__item-info .tiles__info-inner p::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 22px;
  height: 80px; }

@media (min-width: 768px) {
  .tiles__item {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 0; }
  .tiles__item:nth-child(3n) {
    margin-right: 0; } }

@media (min-width: 1280px) {
  .tiles__item-info {
    display: none; }
  .tiles__item:hover .tiles__item-info {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

/*# sourceMappingURL=critical.css.map */
