@charset "UTF-8";
/**------------------------------------------------------------------
 * [Table of contents | Main style]
 *
 * 1. Typography #typography
 * 2. Variables #variables
 * 3. Colors #colors
 * 4. Mixins #mixins
 */
/**
 * Colors #colors
 */
/**
 * Form colors
 */
@-webkit-keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-o-keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@-webkit-keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-o-keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

/**
 * Typography #typography
 */
/**
 * Mixins #mixins
 */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
     transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.tabs__container .tabs__container-box {
  width: 100%; }

.tabs.dropdown {
  display: none; }

.tabs.dropdown .active {
  background-color: #aaaaaa; }

.tabs.dropdown .active a {
  color: #000; }

.tabs__container .tabs__container-box {
  display: none;
  padding: 30px 30px 60px;
  border: 1px solid #aaaaaa; }

.tabs__container .tabs__container-box.active {
  display: block; }

.dd__tabs.wrapper-dropdown-3 {
  position: relative;
  padding-bottom: 10px; }

.dd__tabs.wrapper-dropdown-3 .dd__tabs-current {
  display: block;
  padding: 0 20px;
  font-size: 16px;
  font-family: "LucidaGrande Bold";
  line-height: 40px;
  border: 1px solid #aaaaaa;
  border-bottom-width: 2px; }

.dd__tabs.wrapper-dropdown-3 .dd__tabs-current::before {
  right: 10px; }

.tabs.dropdown {
  pointer-events: auto;
  cursor: pointer; }

.tabs.dropdown li a {
  padding-left: 20px;
  font-size: 14px;
  font-family: "LucidaGrande"; }

.tabs.dropdown li a span {
  color: #aaaaaa; }

.tabs.dropdown li a span::before {
  display: none; }

.tabs.dropdown::before {
  display: none; }

.dd__tabs.wrapper-dropdown-3.active .dd__tabs-current {
  border-bottom-width: 1px;
  border-top-width: 2px; }

.dd__tabs.wrapper-dropdown-3 .dd__tabs-current span {
  color: #aaaaaa; }

@media screen and (min-width: 992px) {
  .dd__tabs.wrapper-dropdown-3 {
    display: inline-block;
    width: 35%; }
  .dd__tabs.wrapper-dropdown-3 {
    float: left;
    margin-top: 30px;
    margin-right: 30px; }
  .tabs.dropdown .active {
    background-color: transparent; } }

@media screen and (min-width: 1280px) {
  .tabs.dropdown {
    display: inline-block; }
  .dd__tabs.wrapper-dropdown-3 {
    margin: 10px 0 0 0;
    width: 100%; }
  .dd__tabs.wrapper-dropdown-3 .dd__tabs-current {
    display: none; }
  .dd__tabs.wrapper-dropdown-3 .dropdown {
    display: block;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .dd__tabs.wrapper-dropdown-3 .dropdown li {
    padding: 10px 0;
    cursor: auto; }
  .dd__tabs.wrapper-dropdown-3 .dropdown li:hover a {
    background: transparent; }
  .dd__tabs.wrapper-dropdown-3 .dropdown li a {
    display: inline;
    padding: 0;
    font-size: 16px;
    color: #aaaaaa;
    font-family: "LucidaGrande Bold";
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) -10px, rgba(170, 170, 170, 0.2) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) -10px, rgba(170, 170, 170, 0.2) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) -10px, rgba(170, 170, 170, 0.2) 100%);
    -webkit-background-size: 1px 1px;
            background-size: 1px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x; }
  .dd__tabs.wrapper-dropdown-3 .dropdown li a:hover {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) -10px, #aaaaaa 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) -10px, #aaaaaa 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) -10px, #aaaaaa 100%);
    -webkit-background-size: 1px 1px;
            background-size: 1px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x; }
  .tabs.dropdown li a span {
    padding: 0; } }

.poster-wrap {
  position: relative;
  min-height: 300px; }

.poster {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1c285b; }

.poster__text {
  font-size: 35px;
  line-height: 40px;
  padding: 15px 0;
  color: #fff;
  font-family: "FuturaBT Light";
  text-transform: uppercase; }

.description {
  margin-top: 60px;
  margin-bottom: 20px; }

.text-block p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px; }

.colored {
  color: #1c285b; }

.strong {
  font-family: "LucidaGrande Bold"; }

.social-wrap {
  position: relative;
  text-align: center; }

.social-wrap .hr {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%); }

.social-list {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: #fff; }

.social-list li {
  display: inline-block;
  vertical-align: middle; }

.social-list li a {
  display: block;
  height: 36px;
  width: 36px;
  position: relative; }
  .social-list li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

.facebook::after {
  background-image: url(../images/sprite.png);
  background-position: -94px -25px;
  width: 11px;
  height: 21px; }

.facebook:hover::after {
  background-image: url(../images/sprite.png);
  background-position: -94px 0px;
  width: 11px;
  height: 21px; }

.pinterest::after {
  background-image: url(../images/sprite.png);
  background-position: -68px -44px;
  width: 17px;
  height: 21px; }

.pinterest:hover::after {
  background-image: url(../images/sprite.png);
  background-position: -44px -48px;
  width: 17px;
  height: 21px; }

.twitter::after {
  background-image: url(../images/sprite.png);
  background-position: -68px 0px;
  width: 22px;
  height: 18px; }

.twitter:hover::after {
  background-image: url(../images/sprite.png);
  background-position: -68px -22px;
  width: 22px;
  height: 18px; }

.in::after {
  background-image: url(../images/sprite.png);
  background-position: -44px 0px;
  width: 20px;
  height: 20px; }

.in:hover::after {
  background-image: url(../images/sprite.png);
  background-position: -44px -24px;
  width: 20px;
  height: 20px; }

/*# sourceMappingURL=global.css.map */
