main
   h1 Graduation

   nav
     ul
     li: a(href="#ceremony") Ceremony
     li: a(href="#graduates") Graduates
     li: a(href="#awards") Awards


   h2#ceremony Ceremony

    p Opening Procession
    p Speech by Valedictorian
    p Speech by Class President
    p Prexentation of Diplomas
    p Closing Speech by Headmaster

   h2#graduates Graduates
   ul
     li Eileen Williams
     li Andy Maseyk
     li Blanca Sainz Garcia
     li Clara Faulkner
     li Gez Lemon
     li Eloisa Faulkner


   h2#awards Awards
   ul
     li Clara Faulkner
     li Eloisa Faulkner
     li Blanca Sainz Garcia
