//- Mixins for breadcrumbs
//
//mixin breadcrumbsModifier(modifierClass)
//    .b-breadcrumbs(role="navigation") #{modifierClass}
//        ul
//            li: a(href="indexBoxed.html") Главная
//            li: span Мясо

