.b-modal-item
  .b-modal-item__fon
  .b-modal-item__content
    .b-modal-item__close
    .b-modal-item__ttl
      h2.heading BUDX021301LG Hafiraha
      a(href='#') Lora Grig
    .b-modal-item__slider-block
      .b-modal-item__slider
        .slide
          img(src='http://placehold.it/360x540', alt='')
        .slide
          img(src='http://placehold.it/360x540', alt='')
        .slide
          img(src='http://placehold.it/360x540', alt='')
    .b-modal-item__desc
      p
        | Светлая шляпка из легкой натуральной ткани с крупным цветочным принтом.
        a.detail-link(href='#') Подробное описание на странице товара
    .b-modal-item__option
      .b-modal-item__change-type
        form.form-filter(id='', action='#')
          .form-group
            .form-group__filter-ttl
              span Выберите цвет
            ul#ul_layered_id_attribute_group_2.form-group__filter.form-group__filter-color.clearfix
              li
                .checker
                  input#layered_id_attribute_group_21.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', checked='true')
                  label.form__label(for='layered_id_attribute_group_21')
                    a(href='#')
                      span
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_1.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_1')
                    a(href='#')
                      span(style='background: #d7dcda')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_2.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_2')
                    a(href='#')
                      span(style='background: #f3e0c9')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_3.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_3')
                    a(href='#')
                      span(style='background: #e4caab')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_4.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_4')
                    a(href='#')
                      span(style='background: #b1a79b')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_5.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_5')
                    a(href='#')
                      span(style='background: #000000')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_6.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_6')
                    a(href='#')
                      span(style='background: #663399')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_7.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_7')
                    a(href='#')
                      span(style='background: #7a4a38')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22_8.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5')
                  label.form__label(for='layered_id_attribute_group_22_8')
                    a(href='#')
                      span(style='background-image: url(images/colorfull.png)')
                      span.fa.fa-check
          .form-group.form-group__change-size
            .form-group__filter-ttl
              span Выберите размер
            .row
              .col-xs-6
                .form-group__select-size
                  select.subscribe__cat
                    option 65BB
                    option 65BС 1
                    option 65BD
                    option 70BB
                    option 75BB
                    option 80BB
      .b-product__price.b-modal-item__price.b-modal-item__price-sale.clearfix
        .b-product__cash 4 560 ₽
        .b-product__buy
          a.btn(href='#', rel='nofollow') Купить


