mixin oneReview( imgSrc, authorName, aboutAuthor, review)
    .b-review.b-review--has-footer
        .b-review__descr
            p #{review}

        footer.b-review__footer.b-review__footer--bottom
            .b-review__author
                .b-review__author-image
                    img(src="#{imgSrc}" alt="review")

                dl.b-review__author-info
                    dt.b-review__author-name #{authorName}
                    dd.b-review__author-about #{aboutAuthor}