.b-content__gallery
  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

  a(href='http://placehold.it/600x400' )
    img(src='http://placehold.it/300x185' alt='')

script.
  $('.b-content__gallery').lightGallery({
    thumbnail: true
  });
