- var pageTitle = "Basket | grid360";
include parts/goods/goodsMixins
include components/breadcrubms/breadcrumbsMixins

doctype html
html(lang='ru')
  include components/head/head

  body
    include components/scripts/scripts
    .wrap
      include components/header/header
      .container
        .b-cart
          -var menuArray = [{linkName:'Главная', href: 'index.html', active: false}, {linkName:pageTitle, href: 'basket.html', active: true}];
          +breadCrumbs(menuArray,'mod--centered')

          .cart-success
            h1.heading.heading--cart-style Спасибо! Ваш заказ #543-321 принят
            .cart-success__content
              p Наш сотрудник свяжется с вами в ближайшее время для подтверждения заказа
              a.button.button--cart
                span Продолжить покупки
          .cart-body
            h1.heading Корзина
            .b-cart__content
              .b-cart__l-colum
                .b-cart__l-body
                  .b-cart__head
                    p.b-cart__t-delivery Получите бесплатную доставку
                    p.b-cart__t-order Оформите заказ от 3 500 Р
                    a.button.button--cart
                      span Продолжить покупки
                  .b-cart__product
                    .b-cart__product-wrap
                      .b-cart__items
                        img(src="http://placehold.it/250x310", alt="")
                        .b-cart__items-wrap
                          a.b-cart__items-ttl(href="#") Грезы RF570-1053 #[span Tribuna]
                          p.b-cart__cost.b-cart__cost--old.b-cart__cost--old-wrap 5 990
                          p.b-cart__cost.b-cart__cost--wrap 4 560 Р
                      .b-cart__details-size
                        img.b-cart__items-color(src="images/cart-icon-red.png", alt="")
                        .b-cart__items-color-desc Красный
                        span.b-cart__size-wrap Размер 65BB
                      .b-cart__delete
                        a(href="#"): img(src="images/cart-delete.png", alt="")
                      .b-cart__details
                        .b-cart__details-count
                          ul.b-cart__counter-item
                            li.b-cart__counter-minus
                              a.b-cart__counter-link(href="")
                            li: input.b-cart__counter-input(type="number" value="1" min="0" max="333")
                            li.b-cart__counter-plus
                              a.b-cart__counter-link(href="")
                          p.b-cart__cost.b-cart__cost--counter-wrap 4 560 Р
                  .b-cart__product
                    .b-cart__product-wrap
                      .b-cart__items
                        img(src="http://placehold.it/250x310", alt="")
                        .b-cart__items-wrap
                          a.b-cart__items-ttl(href="#") Грезы RF570-1053 #[span Tribuna]
                          //p.b-cart__cost.b-cart__cost--old.b-cart__cost--old-wrap 5 990
                          p.b-cart__cost.b-cart__cost--no-old-wrap 4 560 Р
                      .b-cart__details-size
                        img(src="images/cart-icon-darkred.png", alt="")
                        span.b-cart__size-wrap Размер 65BB
                      span.b-cart__delete
                        a(href=""): img(src="images/cart-delete.png", alt="")
                      .b-cart__details
                        .b-cart__details-count
                          ul.b-cart__counter-item
                            li.b-cart__counter-minus
                              a.b-cart__counter-link(href="")
                            li: input.b-cart__counter-input(type="number" value="1" min="0" max="333")
                            li.b-cart__counter-plus
                              a.b-cart__counter-link(href="")
                          p.b-cart__cost.b-cart__cost--counter-wrap 4 560 Р
                  .b-cart__product
                    .b-cart__product-wrap
                      .b-cart__items
                        img(src="http://placehold.it/250x310", alt="")
                        .b-cart__items-wrap
                          a.b-cart__items-ttl(href="#") Грезы RF570-1053 #[span Tribuna]
                          p.b-cart__cost.b-cart__cost--old.b-cart__cost--old-wrap 5 990
                          p.b-cart__cost.b-cart__cost--wrap 4 560 Р
                      .b-cart__details-size
                        img(src="images/cart-icon-colors.png", alt="")
                        span.b-cart__size-wrap Размер 65BB
                      span.b-cart__delete
                        a(href=""): img(src="images/cart-delete.png", alt="")
                      .b-cart__details
                        .b-cart__details-count
                          ul.b-cart__counter-item
                            li.b-cart__counter-minus
                              a.b-cart__counter-link(href="")
                            li: input.b-cart__counter-input(type="number" value="1" min="0" max="333")
                            li.b-cart__counter-plus
                              a.b-cart__counter-link(href="")
                          p.b-cart__cost.b-cart__cost--counter-wrap 4 560 Р
                  .b-cart__product
                    .b-cart__product-wrap
                      .b-cart__items
                        img(src="http://placehold.it/250x310", alt="")
                        .b-cart__items-wrap
                          a.b-cart__items-ttl(href="#") Грезы RF570-1053 #[span Tribuna]
                          p.b-cart__cost.b-cart__cost--old.b-cart__cost--old-wrap 5 990
                          p.b-cart__cost.b-cart__cost--wrap 4 560 Р
                      .b-cart__details-size
                        img(src="images/cart-icon-red.png", alt="")
                        span.b-cart__size-wrap Размер 65BB
                      span.b-cart__delete
                        a(href=""): img(src="images/cart-delete.png", alt="")
                      .b-cart__details
                        .b-cart__details-count
                          ul.b-cart__counter-item
                            li.b-cart__counter-minus
                              a.b-cart__counter-link(href="")
                            li: input.b-cart__counter-input(type="number" value="1" min="0" max="333")
                            li.b-cart__counter-plus
                              a.b-cart__counter-link(href="")
                          p.b-cart__cost.b-cart__cost--counter-wrap 4 560 Р
                  .b-cart__product
                    .b-cart__product-wrap
                      .b-cart__items
                        img(src="http://placehold.it/250x310", alt="")
                        .b-cart__items-wrap
                          a.b-cart__items-ttl(href="#") Грезы RF570-1053 #[span Tribuna]
                          p.b-cart__cost.b-cart__cost--old.b-cart__cost--old-wrap 5 990
                          p.b-cart__cost.b-cart__cost--wrap 4 560 Р
                      .b-cart__details-size
                        img.b-cart__items-color(src="images/cart-icon-darkred.png", alt="")
                        span.b-cart__size-wrap Размер 65BB
                      span.b-cart__delete
                        a(href=""): img(src="images/cart-delete.png", alt="")
                      .b-cart__details
                        .b-cart__details-count
                          ul.b-cart__counter-item
                            li.b-cart__counter-minus
                              a.b-cart__counter-link(href="")
                            li: input.b-cart__counter-input(type="number" value="1" min="0" max="333")
                            li.b-cart__counter-plus
                              a.b-cart__counter-link(href="")
                          p.b-cart__cost.b-cart__cost--counter-wrap 4 560 Р
                  .b-cart__payment.b-cart__payment--wrap
                    .b-cart__payment-items
                      .b-cart__payment-text Итого, 12 товаров
                      .b-cart__payment-cost.b-cart__payment-cost--wrap 237 870 Р
                    .b-cart__payment-items.b-cart__payment-items--purpure
                      .b-cart__payment-text Скидка бонусной системы
                      .b-cart__payment-cost.b-cart__payment-cost--wrap - 5%
                    .b-cart__payment-items.b-cart__payment-items--purpure
                      .b-cart__payment-text Доставка
                      .b-cart__payment-cost.b-cart__payment-cost--wrap Бесплатно
                    .b-cart__payment-items.b-cart__payment-items--wrap.b-cart__payment-items--purpure
                      .b-cart__payment-text Доставка
                      .b-cart__payment-cost.b-cart__payment-cost--pos
                        .b-cart__payment-discount
                          span.payment-discount__text Получите бесплатную доставку оплатив заказ сейчас
                          span.payment-discount__price 350 Р
                  .b-cart__payment.b-cart__payment--no-border
                    .b-cart__payment-items.b-cart__payment-items--pink
                      .b-cart__payment-text Сумма к оплате
                      .b-cart__payment-cost.b-cart__payment-cost--wrap.b-cart__payme 225 870 Р

              .b-cart__r-colum
                form#form-delivery(action='#', method='POST')
                  .b-cart__accordion.b-cart__accordion--success Оформление заказа
                  .b-cart__panel
                    .b-cart__panel-form.accaunt
                      .row
                        .col-lg-6.col-sm-6
                          fieldset.required
                            input#name.b-cart__panel-control(value="Василий")
                            label.label(for="name") Ваше имя
                        .col-lg-6.col-sm-6
                          fieldset.required
                            input#surname.b-cart__panel-control
                            label.label(for="surname") Фамилия
                        .col-lg-6.col-sm-6
                          fieldset.required
                            input#tel.tel.subscribe__input.form-control(type='tel')
                        .col-lg-6.col-sm-6
                          fieldset.required
                            input#email.b-cart__panel-control
                            label.label(for="email") E-mail
                        .col-lg-6.col-sm-6
                          fieldset
                            input#password.b-cart__panel-control(type="password" name="password" value="3546546")
                            label.label(for="password") Пароль
                        .col-lg-6.col-sm-6
                          fieldset
                            input#birthdate.b-cart__panel-control.mod--has-placeholder(type="text" name="birthdate" value="12-12-1986" placeholder="DD-MM-YYYY")
                            label.label(for="birthdate") Дата рождения
                    .b-cart__panel-content
                      button.button.button--cart-panel Далее
                      .b-cart__panel-discount
                        p.panel_disc-text--param Ваша скидка по бонуной системе 5%
                        p.panel_disc-text #[span Получите 10% скидки по бонусной системе] соврешив покупки еще на 23 500 Р
                  .b-cart__accordion.b-cart__accordion--success Способ доставки
                  .b-cart__panel
                    .b-cart__panel-form-new
                      .b-cart__panel-form
                        .row
                          .col-lg-6.col-sm-6
                            fieldset.required
                              input#city.b-cart__panel-control.b-cart__ci
                              label.label(for="city") Город
                          .col-lg-6.col-sm-6
                            fieldset.required
                              input#street.b-cart__panel-control.b-cart__street
                              label.label(for="street") Улица
                          .col-lg-6.col-sm-6
                            fieldset.required
                              input#home.b-cart__panel-control.b-cart__home
                              label.label(for="home") Дом
                          .col-lg-6.col-sm-6
                            fieldset.required
                              input.b-cart__panel-control.b-cart__kv
                              label#kv.label(for="kv") Квартира
                      .b-cart__panel-content
                        a.button.button--cart-panel.b-cart__add-adress.button--cart-color Добавить
                        .btn-cancel
                          a.btn-cancel-link Отмена
                    .b-cart__panel-form-list
                      .b-cart__panel-form-item
                        select.payment-panel-list
                          option(selected, disabled) Выберите способ доставки
                          option Новая Почта
                          option UPS
                      .b-cart__panel-form-item
                        select.payment-panel-menu
                          option(value="1", selected) Ваш адрес для доставки
                          option(value="2") Санкт-Петербург, пр. Мира 117-А, 1
                          option(value="add-address") Добавить другой адрес
                      .b-cart__panel-content
                        button.button.button--cart-panel.button--cart-panel-go(disabled) Дале
                  .b-cart__accordion.b-cart__accordion-comment.last Способ оплаты
                  .b-cart__panel
                    select.payment-panel-list
                      option Предварительная оплата
                      option Предварительная оплата
                    .b-cart__panel-wrap
                      .b-cart__panel-pay
                        input#pay-check(name="pay-1", type="radio")
                        label(for="pay-check") Робокасса
                        img.b-cart__pay-screen(src="images/cart-robokassa.jpg", alt="")
                      .b-cart__panel-pay
                        .panel-pay-item
                          input#pay-check-1(name="pay-1", type="radio")
                          label(for="pay-check-1") Сбербанк
                          img.b-cart__pay-screen(src="images/cart-sberbank.jpg", alt="")
                        .panel-pay-item
                          input#pay-check-2(name="pay-1", type="radio")
                          label(for="pay-check-2") Тинькофф
                          img.b-cart__pay-screen(src="images/cart-tinkoff.jpg", alt="")
                        .panel-pay-item
                          input#pay-check-3(name="pay-1", type="radio")
                          label(for="pay-check-3") Другой банк
                      .b-cart__panel-pay.b-cart__panel-select
                        input#pay-check-4(name="pay-1", type="radio")
                        label(for="pay-check-4")
                        select.payment-panel-list
                          option Выбрать другой способ оплаты
                          option Предварительная оплата
                  .b-cart__panel.b-cart__panel-comment
                    .b-cart__panel-form
                      .row
                        .col-xs-12
                          fieldset
                            input#comment.b-cart__panel-control.b-cart__panel-control--color
                            label.label(for="comment") Комментарий к заказу
                    .b-cart__panel-checkout
                      .b-cart__checkout-wrap
                        input#checkout-order(name="checkout-order", type="checkbox")
                        label(for="checkout-order")
                          span.
                            Согласен с <a class="b-cart__checkout-link" href="#agreement"> договором о правах потребителя</a>
                      a.button.b-cart__checkout-btn(href='#' rel='nofollow') Оформить заказ
                #agreement.b-cart__agreement
                  .b-cart__agreement-text.
                    <span>1. Терминология</span>
                    <p>Покупатель - физическое лицо, имеющее намерение заказать или приобрести товары, либо заказывающее, приобретающее или использующее товары исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.</p>
                    <p><span>Продавец</span> - ООО "ВИДЖИС", ОГРН 1097746613612, 109316, г.Москва, Остаповский проезд, д. 5, стр. 4.
                    <span>Товар</span> - одежда, аксессуары и прочие изделия, предлагаемые к продаже Продавцом посредством Каталога.
                    <span>Каталог</span> - каталог Товаров, расположенный в сети Интернет по адресу www.moisekreti.ru.</p>

                    <span>2. Основные условия</span>
                    <p>Заказы по Каталогу принимаются только от Покупателей физических лиц Российской Федерации старше 18 лет.</p>
                    <p>Оформив заказ по Каталогу Покупатель извещает Продавца о своем полном и безоговорочном согласии с содержанием заказа и выражает согласие на заключение с Продавцом договора в соответствии с частью 2 статьи 158 Гражданского Кодекса Российской Федерации, в т.ч. Покупатель дает согласие Продавцу на обработку и использование персональных данных Покупателя согласно статьи 3 Федерального Закона О персональных данных от 27.07.2006 г. (далее - Закон) , в целях, определенных Уставом Продавца, различными способами, в том числе путем осуществления автоматизированного анализа персональных данных и поручение Продавцом под свою ответственность обработку персональных данных любому третьему лицу по усмотрению Продавца при условии соблюдения требований ст.6 Закона, в том числе осуществления таким лицом конфиденциальности и защиты персональных данных, без ограничения срока действия.</p>
                    <p>Согласно пункта 5 статьи 21 Закона, настоящее согласие может быть отозвано только при условии письменного уведомления Продавца не менее чем за 180 дней до предполагаемой даты прекращения использования персональных данных Продавцом.<p>

                    <span>3. Стоимость заказа и доставки</span>
                    Общая стоимость заказа складывается из цен всех выбранных Покупателем товаров, указанных в Каталоге и стоимости доставки. За каждый заказ взимается фиксированная стоимость доставки заказа Покупателю, которая добавляется к заказу и включается в конечную стоимость заказа автоматически. Стоимость доставки зависит от региона и способа доставки заказа и устанавливается Продавцом отдельно в разделе «Доставка» Каталога. Стоимость доставки взимается один раз за каждый заказ. Доставка заказов осуществляется ФГУП «Почта России» и ОАО «Фрейт-Линк» по поручению Продавца.

                    <span>4. Порядок формирования и доставки заказа</span>
                    Обработка заказа начинается сразу же после его поступления Продавцу. Доставку заказа Покупателю осуществляет внешняя Служба доставки, выбранная Покупателем при формировании заказа (далее - Служба доставки). Сроки доставки установлены в разделе «Доставка» Каталога и рассчитываются с момента передачи посылки от Продавца в Службу доставки.
                    В случае полного наличия заказанного Покупателем Товара на складе Продавца, посылка формируется и передается в Службу доставки в течение 3 рабочих дней с момента получения Продавцом заказа от Покупателя.
                    В случаях, когда заказ не может быть полностью сформирован, чтобы не увеличивать срок ожидания заказа, посылка формируется частично и передается в Службу доставки в указанные выше сроки при выполнении следующего условия: - стоимость товара в отправлении составляет не менее 2000 рублей. При этом общая стоимость доставки заказ, определенная при формировании заказа не изменяется. Товары, заказанные Покупателем и прибывшие на склад Продавца после передачи в Службу доставки первой посылки, высылаются отдельно по мере поступления за счет Продавца. Общий срок, в течение которого весь заказ может быть сформирован, составляет максимально 4 недели с момента получения Продавцом заказа от Покупателя. В случае, если в указанный период времени, заказанный товар не прибыл на склад Продавца, Покупателю направляется уведомление о том, что указанный товар не может быть доставлен.
                    В иных случаях частичного наличия заказанного Покупателем Товара на складе Продавца, посылка формируется и передается в Службу доставки в течение 3 рабочих дней с момента согласования Продавцом с Покупателем изменений в заказ посредством электронной почты или телефонной связи.

                    <span>5. Оплата, политика безопасности платежей и получение товара</span>
                    Оплата Товара производится Покупателем одним из следующих способов:
                    - наличными денежными средствами в момент получения заказа;
                    - банковской картой одной из платежных систем - Visa International, MasterCard Worldwide в момент оформления заказа на сайте. При оплате заказа банковской картой все транзакции проводятся в Рублях РФ (RUR).
                    При оплате заказа банковской картой (включая ввод номера карты), обработка платежа происходит на сайте системы электронных платежей Яндекс.Касса, которая прошла международную сертификацию. Это значит, что конфиденциальные данные Покупателя (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена и никто, в том числе moisekreti.ru (ООО «ВИДЖИС»), не может получить персональные и банковские данные клиента. Для защиты информации от несанкционированного доступа на этапе передачи от клиента на сервер системы Яндекс.Касса используется протокол SSL. Компания Яндекс.Касса прошла PCI-сертификацию (PCI Data Security Standards или Стандарты безопасности хранения данных PCI, разработанные и внедренные платежными системами VISA и MasterCard для обеспечения безопасного хранения личных данных владельца банковской карты.

                    6. Возврат товара.
                    - Возврат товара надлежащего качества: Покупатель вправе отказаться от заказанного Товара в любое время до его получения, а после получения Товара - в течение 14 дней со дня получения товара (заказа) Покупателем. Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид (оригинальная упаковка, ярлыки), потребительские свойства, специальные пломбы Продавца, а также документ, подтверждающий факт и условия покупки указанного Товара. Расходы на обратную доставку Товара Продавцу оплачивает Покупатель.
                    - Возврат товаров ненадлежащего качества: Возврат Товара возможен в случаях неправильного вложения или заводского брака. В случае возврата Товара по причине заводского брака, такой товар может быть направлен на экспертизу, по результатам которой устанавливается ответственная сторона. Если ответственной стороной признается Продавец, расходы на обмен/возврат Товара, транспортировку, хранение и проведение экспертизы оплачивает Продавец. В случае если ответственной стороной признан Покупатель, указанные расходы оплачиваются Покупателем.
                    Для возврата Покупателю необходимо направить Продавцу Товар, копии документов, подтверждающих факт покупки Товара, копию удостоверения личности и заполненное и подписанное заявление на возврат - Почтой России по адресу: ООО ВИДЖИС, 109316, г. Москва, Остаповский проезд, д.5 стр.4. Продавец не принимает посылки с Товаром от физических лиц, направленные в его адрес наложенным платежом. Бланк заявления предоставляется Продавцом по запросу Покупателя в электронном виде для последующего его распечатывания Покупателем.
                    В случае нарушения Покупателем условий возврата Товара - Покупатель оплачивает Продавцу расходы на обратную доставку Покупателю непринятого к возврату Товара. Непринятый к возврату Товар, и невостребованный Покупателем в течение 6 (шести) месяцев с момента предъявления товара к возврату, утилизируется Продавцом без возмещения каких-либо средств Покупателю.
                    Возврат денежных средств Покупателю осуществляется на банковский счет в течение 10 дней с момента получения Продавцом от Покупателя Товара и письменного заявления на возврат с приложением всех необходимых документов. При оплате заказа банковской картой в момент его оформления возврат денежных средств производится на ту же банковскую карту, с которой был произведен платеж. Покупателю возвращается полная стоимость возвращенных товаров за вычетом расходов Продавца на доставку данных товаров до Покупателя.
                    Весь товар сертифицирован согласно требованиям законодательства Российской Федерации. Настоящие Правила и условия являются условиями договора купли-продажи, заключенного между Покупателем и ООО "ВИДЖИС".

                    ООО "ВИДЖИС"
                    ОГРН 1097746613612
                    Наш адрес: 109316, г. Москва, Остаповский проезд, д. 5, стр. 4.
                  .b-cart__agreement-close
                    a.button.button--cart.close-btn
                      span Закрыть
    include components/footer/footer
    include components/scripts/bottomScripts





