- var pageTitle = "Categories | grid360";
include parts/goods/goodsMixins
include components/breadcrubms/breadcrumbsMixins

doctype html
html(lang='ru')
  include components/head/head

  body
    include components/scripts/scripts
    .wrap
      include components/header/header
      .container
        -var menuArray = [{linkName:'Главная', href: 'index.html', active: false}, {linkName:pageTitle, href: 'categories.html', active: true}];
        +breadCrumbs(menuArray,'mod--centered')
      .container
        aside.aside-filters
          include parts/filters/filters
    include components/footer/footer
    include components/scripts/bottomScripts





