- var pageTitle = "Main | grid360";

doctype html
html(lang='ru')
  include components/head/head
  include components/scripts/scripts
  body
    .wrap
      include components/header/header
      include parts/brands/brands
      include parts/brands/brandsSlider
      include parts/productBlock/productBlock
      include components/rating/rater
    include components/footer/footer






