- var pageTitle = "Главная";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/header/header
      include parts/brands/brands
      include parts/brands/brandsSlider
      include parts/productBlock/productBlock
    include components/footer/footer




