doctype html
html(lang='ru')
  include components/head/head

  body
    include components/header/header
    //include parts/brands/brands
    include components/footer/footer
    include components/scripts/scripts



