- var pageTitle = "Главная";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/scripts/scripts
      include components/header/header
      include parts/brands/brands
      include parts/productBlock/productBlock
      include components/rating/rater
    include components/footer/footer




