- var pageTitle = "Main | grid360";
include parts/goods/goodsMixins

doctype html
html(lang='ru')
  include components/head/head
  include components/scripts/scripts
  body
    .wrap
      include components/header/header
      include parts/goods/goodsBlock
      include parts/brands/brands
      include parts/brands/brandsSlider
    include components/footer/footer






