- var pageTitle = "Index | grid360";

doctype html
html(lang='en')
  include components/head/head
  body
    include components/scripts/scripts
    .wrap
      include components/header/header
      include components/poster/poster
      .description
        .container
          .row
            .col-lg-5
              .text-block
                p The invitations set the tone for this special day since it is the very first thing your guest will see regarding your upcoming nuptials. Wedding invitations offer a glimpse into the style, theme, and vision for this special occasion.

                p Invitations that are attractive and speak to the specific character of the bride and groom make a considerable impact on those they reach. They also make wonderful memorabilia to look back on for decades to come.

                p At Lilian Designs Studios we work hard to deliver a very creative, unique, and personalized set of wedding invitations. We are one of the few companies in the area to focus almost exclusively on creating custom wedding invitations.

                p Some of our exclusive designs include pocket invitations, lace invitations, silk pocket invitations, embossed invitations and letterpress invitations.

                p.colored.strong Call us today to set up a free consultation at 305.447.6622
            .col-lg-7
              include components/slider/slider
      include components/tiles/tiles
      include components/social/social
    include components/footer/footer
    include components/scripts/bottomScripts





