- var pageTitle = "Index | grid360";
include parts/goods/goodsMixins

doctype html
html(lang='ru')
  include components/head/head
  include components/scripts/scripts
  body
    .wrap
      include components/header/header
      include parts/goods/goodsBlock
      include parts/brands/brands
      include parts/brands/brandsSlider
      include parts/reviews/reviews
      .container
        h2.heading Форма Send
        .row
          .col-sm-6
            include components/forms/formSend
          .col-sm-6
            h3 Заголовок
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum



        include components/animations/animations
    include components/footer/footer
    include components/scripts/bottomScripts





