- var pageTitle = "Item | grid360";

doctype html
html(lang='ru')
  include components/head/head

  body
    .wrap
      include components/header/header
      .container
        include components/breadcrubms/breadcrumbs
        .item
          .item__desc
            .item-info
              h2.item-info__ttl BUDX021301LG Hafirah
              .b-product__rating
                .b-product__stars
                  .rating
                .b-product__comments
                  a.b-product__comments-link(href="#") 78 отзывов

          include parts/item/itemSliderHorizontal
          include parts/item/itemCharacteristic
        include parts/item/itemReview
        script(type='text/javascript').
          var options = {
            max_value: 5,
            step_size: 0.5,
            initial_value: 3.5,
            readonly: true
          };
          $(".rating").rate(options);
    include components/footer/footer
    include components/scripts/bottomScripts





