- var pageTitle = "Products | grid360";
include parts/goods/goodsOpenPreviewMixins

doctype html
html(lang='ru')
  include components/head/head

  body
    include components/scripts/scripts
    .wrap
      include components/header/header
      .container
        .row
          .col-xs-12.col-lg-4
            aside.aside-filters
              include parts/filters/filters
          .col-xs-12.col-lg-8
            .goodsList
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "3.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "2.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "1.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "1.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "1.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "1.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "1.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "1.5")
              +goodsTileOpenPreview("http://placehold.it/250x310", "Kris Line Fashion Edith brassiere комплект",
              "Аксессуары", "4 560 Р", "1.5")
            include components/modal/itemModal

            script.
              $('.show-review').on('click', function (e) {
                e.preventDefault();
                $('body').addClass('show-modal').css('paddingRight', setPadding())
                $('.b-modal-item').show();
                $('.b-modal-item__slider').slick({
                  infinite: true,
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  dots: true
                });
              });

              $('.b-modal-item__close, .b-modal-item__fon').on('click', function (e) {
                e.preventDefault();
                $('body').removeClass('show-modal').css('paddingRight', 0)
                $('.b-modal-item').hide();
              });

              function setPadding() {
                var inner = document.createElement('p');
                inner.style.width = "100%";
                inner.style.height = "200px";

                var outer = document.createElement('div');
                outer.style.position = "absolute";
                outer.style.top = "0px";
                outer.style.left = "0px";
                outer.style.visibility = "hidden";
                outer.style.width = "200px";
                outer.style.height = "150px";
                outer.style.overflow = "hidden";
                outer.appendChild(inner);

                document.body.appendChild(outer);
                var w1 = inner.offsetWidth;
                outer.style.overflow = 'scroll';
                var w2 = inner.offsetWidth;
                if (w1 == w2) w2 = outer.clientWidth;

                document.body.removeChild(outer);

                return (w1 - w2);
              }

              $('.b-product__stars').rate({
                max_value: 5,
                step_size: 0.5,
                initial_value: 3.5,
                readonly: false
              });


    include components/footer/footer
    include components/scripts/bottomScripts
