.b-content__article
	margin-bottom: 40px

.b-content__article img
	max-width: 100%
	display: block

.b-content__ttl
	font-family: $second-font
	line-height: 1.25
	font-weight: 400

.b-content__ttl--h1
	font-size: 36px
	margin-bottom: 55px

.b-content__ttl--h2
	font-size: 30px
	margin-bottom: 25px
	margin-top: 40px

.b-content__ttl--h3
	font-family: $base-font-bold
	font-size: 24px
	margin-bottom: 25px
	margin-top: 40px

.b-content__ttl--uppercase
	font-family: $base-font-bold
	font-size: 18px
	margin-bottom: 25px
	text-transform: uppercase
	margin-top: 40px

.b-content__item
	font-size: 18px
	line-height: 27px

.b-content__item p,
.b-content__media
	margin-bottom: 15px

.b-content__media
	@include clearfix()

.b-content__media-desc
	opacity: 0.33
	font-size: 14px
	line-height: 21px

ol.b-content__list-numeric
	counter-reset: myCounter

.b-content__list li,
ol.b-content__list-numeric li
	padding-left: 30px
	position: relative
	font-family: $base-font-italic
	margin-bottom: 10px

ol.b-content__list-numeric li:before
	position: absolute
	counter-increment: myCounter
	content: counter(myCounter) '.'
	color: $grey-color
	display: inline-block
	text-align: left
	left: 0
	top: 1px
	font-family: $base-font

.b-content__list li:before
	content: ''
	display: block
	position: absolute
	width: 5px
	height: 5px
	border-radius: 5px
	background: $grey-color
	left: 0
	top: 12px

.b-content__article b
	font-weight: 400
	font-family: $base-font-bold

.b-content__blockquote-line
	position: relative
	padding: 10px 40px 5px 30px
	font-family: $base-font-italic
	font-size: 16px
	font-style: normal
	line-height: 24px
	margin: 0 0 30px
	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		bottom: 0
		width: 4px
		background: $active-color

.b-content__blockquote-fon
	position: relative
	background: $grey-color
	margin: 0 0 30px
	text-align: center
	padding: 50px 15px 30px
	&:before
		content: ''
		position: absolute
		left: 50%
		top: 20px
		margin-left: -12px
		@include sprite($quote-icon)

.b-content__blockquote-fon p
	font-size: 24px
	line-height: 28px
	margin-bottom: 20px

.b-content__blockquote-fon span
	font-size: 16px

.b-content__table-wrap
	max-width: 100%
	overflow: auto

.b-content__table
	border-collapse: collapse
	margin-bottom: 50px
	min-width: 600px

.b-content__table th
	font-weight: 400
	font-family: $base-font-bold
	text-align: left
	font-size: 18px
	width: 29%
	padding: 10px 5px 15px
	border-bottom: 5px solid #e5e5e5
	vertical-align: top
	line-height: 20px
	&:first-child
		width: 45%

.b-content__table td
	font-size: 16px
	vertical-align: top
	line-height: 24px
	padding: 30px 25px 15px 5px
	border-bottom: 1px solid #e5e5e5

.b-content__table tr:last-of-type td
	border-bottom: 0

.b-content__media-img
	width: 100%

.b-content__media-img img
	width: 100%

.b-content__media-img iframe
	border: 0
	width: 100%
	height: calc((100vw - 30px) * 0.5625)

.b-content__form
	border: 0
	border-top: 8px solid $grey-color
	padding-bottom: 0

.b-content__form .b-consultation__inner-container
	padding-bottom: 0

.aside-right
	margin-top: 120px

.aside-ttl
	font-size: 24px
	font-weight: 400
	text-transform: uppercase
	font-family: $base-font-bold
	color: $grey-color
	margin-bottom: 30px

.list-other-article
	margin-bottom: 30px

.list-other-article li a
	text-decoration: none
	display: block
	background: $grey-color
	margin-bottom: 20px
	padding: 25px 18px
	font-family: $base-font-bold
	&:hover
		background: $white-color
		box-shadow: 0 0 30px $grey-color

.list-other-article li a .date
	font-weight: 400
	font-size: 10px
	color: $grey-color
	text-transform: uppercase
	display: block
	margin-bottom: 5px

.list-other-article li a .ttl
	display: block
	color: $black-color
	font-size: 18px
	text-decoration: none
	line-height: 20px

.list-other-article li a:hover .ttl
	color: $active-color

@media (min-width: $screen-sm)

	.b-content__align-right
		float: right
		margin-left: 35px
		margin-bottom: 35px

	.b-content__blockquote-fon
		padding: 80px 80px 30px
		&:before
			top: 30px

	.aside-right
		margin-top: 100px

@media (min-width: $screen-md)

	.b-content__media-img
		max-width: 630px

	.b-content__media-img iframe
		height: calc(630px * 0.5625)

	.aside-right
		margin-top: 0

	.aside-ttl
		margin-top: 0
		margin-bottom: 50px

@media (min-width: $screen-lg)
	.b-content__media-img
		float: left
		margin-right: 30px


