h2.heading.text-center Центрирование
.pagination
  ul.pagination__list
    li.pagination__prev: a(href="#") #[span предыдущая]
    li.visible-lg: a(href="#") 1
    li.visible-lg: span ...
    li: a(href="#") 7
    li: a(href="#") 8
    li.current: span(class="") 9
    li: a(href="#") 10
    li: a(href="#") 11
    li.visible-lg: span ...
    li.visible-lg: a(href="#") 15
    li.pagination__next: a(href="#") #[span следующая]


h2.heading.text-center Центрирование
//.pagination.pagination--center
//  ul.pagination__list
//    li.pagination__prev: a(href="#") #[span предыдущая]
//    li.visible-lg: a(href="#") 1
//    li.pagination__etc.visible-lg ...
//    li: a(href="#") 7
//    li: a(href="#") 8
//    li.current: a(class="") 9
//    li: a(href="#") 10
//    li: a(href="#") 11
//    li.pagination__etc.visible-lg ...
//    li.visible-lg: a(href="#") 15
//    li.pagination__next: a(href="#") #[span следующая]
.pagination.pagination--center
  ul.pagination__list
    li.pagination__prev: a(href="#") #[span предыдущая]
    li.visible-lg: a(href="#") 1
    li.visible-lg: span ...
    li: a(href="#") 7
    li: a(href="#") 8
    li.current: span(class="") 9
    li: a(href="#") 10
    li: a(href="#") 11
    li.visible-lg: span ...
    li.visible-lg: a(href="#") 15
    li.pagination__next: a(href="#") #[span следующая]

h2.heading.text-center Вправо-влево
.pagination.pagination--center
  ul.pagination__list
    li.pagination__prev: a(href="#") #[span предыдущая]
    li.pagination__next: a(href="#") #[span следующая]
