.b-characteristic
  .b-characteristic__option
    .b-characteristic__change-type
      form(action="#" class="form-filter")
        .form-filter__top
          .form-group
            .form-group__filter-ttl
              span Выберите цвет

            ul#ul_layered_id_attribute_group_2.form-group__filter.form-group__filter-color.clearfix
              li
                .checker
                  input#layered_id_attribute_group_21.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', checked='true' data-style='#d7dcda')
                  label.form__label(for='layered_id_attribute_group_21')
                    a(href='#')
                      span(style='background: #d7dcda')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5' data-style='#d7dcda')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background: #d7dcda')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5' data-style='#f3e0c9')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background: #f3e0c9')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', data-style='#f3e0c9')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background: #e4caab')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', data-style='#b1a79b')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background: #b1a79b')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', data-style='#b1a79b')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background: #000000')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', data-style='#663399')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background: #663399')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', data-style='#7a4a38')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background: #7a4a38')
                      span.fa.fa-check
              li
                .checker
                  input#layered_id_attribute_group_22.checkbox(type='radio', name='layered_id_attribute_group_29', value='29_5', data-style='url(images/colorfull.png)')
                  label.form__label(for='layered_id_attribute_group_22')
                    a(href='#')
                      span(style='background-image: url(images/colorfull.png)')
                      span.fa.fa-check
            a.form-group__filter-color-add(href='')
              span Показать еще

          .form-group.form-group__change-size
            .form-group__filter-ttl
              span Выберите размер
            .row
              .col-xs-12
                .form-group__select-size
                  select.subscribe__cat.select2-hidden-accessible(tabindex="-1" aria-hidden="true" )
                    option 65BB
                    option 65BС 1
                    option 65BD
                    option 70BB
                    option 75BB
                    option 80BB

        .b-product__price
          .b-product__cash-wrap
            .b-product__cash 4509 ₽
          .b-product__counter
            .b-product__counter-ttl Количество
            a(href='#' rel='nofollow') -
            input(type='text' value='1' name='price')
            a(href='#' rel='nofollow') +

        div
          button#order.btn(href="#" rel="nofollow") Купить


