.size-block
    span 100C
    span 100D
    span 100E
    span 105C
    span 105D
    span 90C
    span 90D
    span 90E
    span 75C
    span 75E
    span 80E
    span 80D
    span 80C
    span 90E
    span 90D
    span 90C
    span 90D
    span 90E
    span 75C
    span 75E
    span 85C
    span 85G
    span 85E
    span 75C
    span 90E