.btn
  width: auto
  height: 40px
  padding: 0 20px
  margin-top: 20px
  border: none
  line-height: 18px
  vertical-align: middle
  color: #fff
  background: $color-pink
  border-radius: 4px
  font-family: $base-font-bold
  cursor: pointer
  transition: .3s

  &:hover
    background-color: #f85484