
.b-filters
  .b-filters__title Фильтр
  a#filterBtn.b-filters__btn(href='#', rel='nofollow') Фильтр
    span
  .b-filters__form
    form#layered_form.form-filter(action='#')
      .form-group
        .form-group__filter-ttl
          span Цена,
            span.currency-style
              | ₽
          span.icon.icon-chevron-down.pull-right
        ul.form-group__filter
          li.clearfix
            .form-group__input-price.pull-left
              .checker
                input#amountMin(type='text')
            .form-group__input-price.pull-right
              .checker
                input#amountMax(type='text')
          li.b-filters__slider.clearfix
            .checker
              #slider-range(data-min='50', data-max='600')
      .form-group
        .form-group__filter-ttl
          span Размер
          span.icon.icon-chevron-down.pull-right
        ul#ul_layered_id_attribute_group_1.form-group__filter.form-group__filter-size.clearfix
          li: .checker
            input#layered_id_attribute_group_11.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5', checked)
            label.form__label(for='layered_id_attribute_group_11')
              a(href='#')
                span.icon.icon-check
                | 70A
          li
            .checker
              input#layered_id_attribute_group_12.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_12')
                a(href='#')
                  span.icon.icon-check
                  | 70B
          li
            .checker
              input#layered_id_attribute_group_13.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_13')
                a(href='#')
                  span.icon.icon-check
                  | 70C
          li
            .checker
              input#layered_id_attribute_group_14.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_14')
                a(href='#')
                  span.icon.icon-check
                  | 70D
          li
            .checker
              input#layered_id_attribute_group_15.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_15')
                a(href='#')
                  span.icon.icon-check
                  | 75E
          li
            .checker
              input#layered_id_attribute_group_16.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_16')
                a(href='#')
                  span.icon.icon-check
                  | 75G
          li
            .checker
              input#layered_id_attribute_group_17.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_17')
                a(href='#')
                  span.icon.icon-check
                  | 80A
          li
            .checker
              input#layered_id_attribute_group_18.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5', checked)
              label.form__label(for='layered_id_attribute_group_18')
                a(href='#')
                  span.icon.icon-check
                  | 80C
          li
            .checker
              input#layered_id_attribute_group_19.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_12')
                a(href='#')
                  span.icon.icon-check
                  | 70B
          li
            .checker
              input#layered_id_attribute_group_20.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_13')
                a(href='#')
                  span.icon.icon-check
                  | 70C
          li
            .checker
              input#layered_id_attribute_group_21.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_14')
                a(href='#')
                  span.icon.icon-check
                  | 70D
          li
            .checker
              input#layered_id_attribute_group_22.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_15')
                a(href='#')
                  span.icon.icon-check
                  | 75E
          li
            .checker
              input#layered_id_attribute_group_23.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_16')
                a(href='#')
                  span.icon.icon-check
                  | 75G
          li
            .checker
              input#layered_id_attribute_group_24.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_17')
                a(href='#')
                  span.icon.icon-check
                  | 80A
          li
            .checker
              input#layered_id_attribute_group_25.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5', checked)
              label.form__label(for='layered_id_attribute_group_18')
                a(href='#')
                  span.icon.icon-check
                  | 80C
          li.form-group__wide-li
            .checker
              input#layered_id_attribute_group_26.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_19')
                a(href='#')
                  span.icon.icon-check
                  | FF 136-138
          li.form-group__wide-li
            .checker
              input#layered_id_attribute_group_27.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_19')
                a(href='#')
                  span.icon.icon-check
                  | FF 136-138
      .form-group
        .form-group__filter-ttl
          span Цвет
          span.icon.icon-chevron-down.pull-right
        ul#ul_layered_id_attribute_group_2.form-group__filter.form-group__filter-color.clearfix
          li
            .checker
              input#layered_id_attribute_group_28.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5', checked)
              label.form__label(for='layered_id_attribute_group_21')
                a(href='#')
                  span
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_29.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background: #d7dcda')
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_30.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background: #f3e0c9')
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_31.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background: #e4caab')
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_32.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background: #b1a79b')
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_33.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background: #000000')
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_34.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background: #663399')
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_35.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background: #7a4a38')
                  span.icon.icon-check
          li
            .checker
              input#layered_id_attribute_group_37.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_22')
                a(href='#')
                  span(style='background-image: url(images/colorfull.png)')
                  span.icon.icon-check
      .form-group
        .form-group__filter-ttl
          span Тип изделия
          span.icon.icon-chevron-down.pull-right
        ul#ul_layered_id_attribute_group_35.form-group__filter.form-group__filter-type.clearfix
          li
            .checker
              input#layered_id_attribute_group_38.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5', checked)
              label.form__label(for='layered_id_attribute_group_38')
                a(href='#')
                  | Балконет (анжелика)
                  span 32
          li
            .checker
              input#layered_id_attribute_group_39.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_39')
                a(href='#')
                  | Мягкий
                  span 33

          li
            .checker
              input#layered_id_attribute_group_40.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_40')
                a(href='#')
                  | Плотная чашка
                  span 98
          li
            .checker
              input#layered_id_attribute_group_41.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_41')
                a(href='#')
                  | Пуш-ап
                  span 132
          li
            .checker
              input#layered_id_attribute_group_42.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_42')
                a(href='#')
                  | Невидимка (силиконовый)
                  span 77
          li
            .checker
              input#layered_id_attribute_group_43.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_43')
                a(href='#')
                  | Плотная чашка
                  span 98
          li
            .checker
              input#layered_id_attribute_group_44.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_44')
                a(href='#')
                  | Пуш-ап
                  span 132


          li
            .checker
              input#layered_id_attribute_group_55.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_55')
                a(href='#')
                  | Невидимка (силиконовый)
                  span 77

        .show-all-filters
          a(href='#') Показать все
      .form-group
        .form-group__filter-ttl
          span Бренд
          span.icon.icon-chevron-down.pull-right
        ul#ul_layered_id_attribute_group_45.form-group__filter.form-group__filter-type.form-group__filter-brand.clearfix
          li
            .checker
              input#layered_id_attribute_group_45.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5', checked)
              label.form__label(for='layered_id_attribute_group_45')
                a(href='#') Ava

          li
            .checker
              input#layered_id_attribute_group_46.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_46')
                a(href='#')
                  | Corine
                  span 54
          li
            .checker
              input#layered_id_attribute_group_47.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_47')
                a(href='#')
                  | Corine
                  span 54
          li
            .checker
              input#layered_id_attribute_group_48.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_48')
                a(href='#')
                  | Eldar
                  span 99
          li
            .checker
              input#layered_id_attribute_group_49.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_49')
                a(href='#')
                  | Eldar
                  span 99
          li
            .checker
              input#layered_id_attribute_group_50.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_50')
                a(href='#')
                  | Kameo
                  span 14
          li
            .checker
              input#layered_id_attribute_group_51.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_51')
                a(href='#')
                  | Kameo
                  span 14
          li
            .checker
              input#layered_id_attribute_group_52.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_52')
                a(href='#')
                  | Lelio
                  span 63
          li
            .checker
              input#layered_id_attribute_group_53.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5')
              label.form__label(for='layered_id_attribute_group_53')
                a(href='#')
                  | Lelio
                  span 63


          li
            .checker
              input#layered_id_attribute_group_54.checkbox(type='checkbox', name='layered_id_attribute_group_29', value='29_5', checked)
              label.form__label(for='layered_id_attribute_group_54')
                a(href='#') Ava

        .show-all-filters
          a(href='#')
            | Показать все

.b-res-filters__sort-res.nav-help.nav--dropdown
  span Сортировать
    .down
      b#getSorted по убыванию цены
        span.icon.icon-chevron-down
      ul.nav-help__more
        li: a(href='#' ) по рейтингу
        li: a(href='#' ) по убыванию цены
        li: a(href='#' ) по увеличению цены
        li: a(href='#' ) новинки
        li: a(href='#' ) акционные
