doctype html
html(lang='en')
  include ../components/head/head
  body
    #page.wrap
      .header-contaner
        include ../parts/header

      include ../parts/footer

    include ../components/scripts/scripts