section.animations-demo
  h2.heading.heading--center Js + Css анимации
  h3 js__underline-effect
  p.animations-demo__descriptions Добавте класс .js__underline-effect к ссылке или любому inline-блoчному элементу(подчеркивает только одноу строку)

  ul.animations-demo__list

    li.animations-demo__list-item--inline: a.js__underline-effect(href="#") наведи на меня
    li.animations-demo__list-item--inline: a.js__underline-effect(href="#") и на меня наведи

  h3 js__ripple-button
  p.animations-demo__descriptions Добавте класс js__ripple-button к кнопке

  button.btn.js__ripple-button Нажми меня нежно
  button.btn.js__ripple-button Нажми меня нежно
  h3 js__tool-tip Всплывающая подсказка

  ul.animations-demo__descr-list
    li
     span Ширина всплывающей подсказки (.tooltip) может быть установлена в пикселах, или процентах от ширины блока js__tool-tip:
     p adaptiveWidth: '200%', либо adaptiveWidth: '200px', можно не указывать - adaptiveWidth:, тогда ширина подсказки равна ширине её содержимого, максимальная ширина равна ширине блока-родителя (js__tool-tip)

    li Максимальная ширина подсказки всегда равна ширине экрана
    li При необходимости можно задать смещение подсказки относительно курсора по оси х в процентах, по оси y в пикселах:
    li offsetXpercentage: 50, offsetYpx: 0 настройки по-умолчанию

  p
    span.animations-demo__tooltip.animations-demo__tooltip--inline.js__tool-tip Всплывающая подсказка к инлайн-блоку
      span.tooltip Im yours tooltip

    span.animations-demo__tooltip.animations-demo__tooltip--inline.js__tool-tip Всплывающая подсказка к инлайн-блоку
      span.tooltip Im yours second tooltip

    span.animations-demo__tooltip.js__tool-tip-full-width Всплывающая подсказка (шириной 50%) к блоку
      span.tooltip Im yours 50%width tooltip

script.
  $('.js__ripple-button').rippleEffect({duration: 1000, delay: 200, color: '#fff', animationDuration: 1000});
  $('.js__underline-effect').underlineEffect({bottomOffset: -4, thick: 2, color: '#2185D0'});
  $('.js__tool-tip').toolTip({offsetXpercentage: 50, offsetYpx: 0});
  $('.js__tool-tip-full-width').toolTip({offsetXpercentage: 50, offsetYpx: 0, adaptiveWidth: '50%'});

