.tiles
  .container
    .tiles-wrap
      .tiles__item
        .hr
        .tiles__item-ttl simple and elegant
        .tiles__item-img
          .bg-image(data-bgimage='uploads-demo/slide3.jpg')
          .tiles__item-info
            .tiles__info-inner
              p Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly...
              a.btn.btn--white(href='#') view more

      .tiles__item
        .hr
        .tiles__item-ttl simple and elegant
        .tiles__item-img
          .bg-image(data-bgimage='uploads-demo/slide2.jpg')
          .tiles__item-info
            .tiles__info-inner
              p Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly...
              a.btn.btn--white(href='#') view more

      .tiles__item
        .hr
        .tiles__item-ttl simple and elegant
        .tiles__item-img
          .bg-image(data-bgimage='uploads-demo/slide1.jpg')
          .tiles__item-info
            .tiles__info-inner
              p Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly...
              a.btn.btn--white(href='#') view more

